[2019-12-06 03:27] jmoseley opened #1 "Socket hang up"
I'm seeing the following error when running the action, this happens anywhere from 5 to 10 minutes after the action starts and there is no output.

[code]

Here is my work flow:

[code]

The app bundle is building correctly and being uploaded as an artifact.

Any ideas would be greatly appreciated.

[2019-12-06 04:51] jmoseley commented on #1
I figured it out. The artifact downloads a folder, not just the file. I needed to specify the artifact download to a folder:

[code]

and then reference the file:

[code]

[2019-12-06 04:51] #1 closed

[2019-12-10 13:10] r0adkll commented on #1
I'm glad you were able to fix your issue. I can probably implement better guards to prevent the action from hanging by adding checks to the input files to make sure they exist first.

[2019-12-11 21:57] persello opened #2 "Action fails with ENOENT without specifying missing file"
Hello,
I get this output from my workflow:
[code]

And my parameters are the following:
[code]

I check the existence of the aab file before calling this action. The full workflow is
[code]
How can I get a more detailed error report for the missing file?

[2019-12-12 02:42] r0adkll commented on #2
Per this link https://github.com/actions/toolkit/blob/master/docs/action-debugging.md

You should be able to set the secret `ACTIONS_STEP_DEBUG: true` and that should allow you to see the debug statements in the log. start with that for now and I'm going to add some more safeguards and verbose logging to action to help catch, prevent and better debug these sort of issues.

[2019-12-12 04:47] r0adkll commented on #2
I pushed an update out (`v1.0.1` or continue using the `v1` tag) that includes some improved debugging and runs some pre-condition checks to verify that your inputs exist, then prints the input back out if it fails

[2019-12-12 12:26] persello commented on #2
I tried to run the workflow again after your update and in the end the actual error is the following:
[code]

From the documentation on the README I thought that the `whatsNewDirectory` parameter and folder were optional. I will retry after creating a directory containing some text files named accordingly.

[2019-12-12 12:59] persello commented on #2
Actually, after adding a valid value to the `whatsNewDirectory` parameter, another error appears:
[code]
I think that the script requires all the parameters to be specified, I don't know whether this is an intended behavior or I'm doing something wrong. After adding the `mappingFile` parameter with the path to the mapping.txt file the action completes successfully.

[2019-12-12 12:59] #2 closed

[2019-12-12 13:29] r0adkll commented on #2
You are correct, those inputs are _suppose_ to be optional, I added some checks to validate that the directory or file exists if you include them but it looks like those checks are tripping anyway. I'll get these issues fixed and pushed, but I'm glad the action completes for you afterwards.

[2020-01-23 13:04] davidvavra opened #3 "Unclear documentation about what's new parameter"
Hi, the documentation is not clear how to exactly generate files for what's new. It would be helpful to add full example.

Let's say I specify parameter as following: `whatsNewDirectory: whatsnew`

How should the files look like?

`whatsnew/whatsnew-en-US`

or

`whatsnew-en-US/anything`

?

[2020-01-29 21:49] iamriajul opened #4 "NAMETOOLONG: name too long, lstat '/home/runner/work/project/***"
The file at *** does not exist, or it is not a file. ENAMETOOLONG: name too long, lstat '/home/runner/work/dailyislam-android/dailyislam-android/***
  ***
  ***
  ***
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG[---------]LLLXQwGXz+gQFIvgzeTIP'

My Config Portion:
    - name: Deploy App to Play Store
      uses: r0adkll/upload-google-play@v1
      with:
        serviceAccoun

[2020-01-30 06:40] iamriajul commented on #4
### Fixed Issue.
The Problem was with I was passing raw JSON string to serviceAccountJson parameter but the serviceAccountJson parameter accept file path, which I have fixed by creating a JSON File from secrets JSON string.
with following task/commands:

    - name: Create service_account.json FROM secrets.SERVICE_ACCOUNT_JSON
      run: echo '${{ secrets.SERVICE_ACCOUNT_JSON }}' > service_account

[2020-01-30 06:40] #4 closed

[2020-01-30 06:45] iamriajul commented on #3
By seeing source code I can say that:
Files should look like and file has no extension:
whatsnew/whatsnew-en-US
whatsnew/whatsnew-bn-BD

Source Code Screenshot:
![image](https://user-images.githubusercontent.com/24244379/73426356-46adbf00-435e-11ea-950b-bc8983370566.png)

[2020-01-30 10:40] davidvavra commented on #3
@iamriajul Thanks.  But this should be documented in README.md.

[2020-01-30 12:16] iamriajul commented on #3
whatsnew/whatsnew-en-US this format is not working! where is the maintainer? please clarify this whatsNewDirectory parameter documentation.
@r0adkll please clarify.
Thanks.

[2020-01-30 14:30] r0adkll commented on #3
Sorry for the late replay, yes it's supposed to be in the format:
[code]
where `locale` is the language of your whats new using the [BCP 47](https://tools.ietf.org/html/bcp47) format. I will update the readme to reflect this and be better documented.

You are right, it is currently broken and not reading the what's new files, let me fix that and push out a new release, thanks for the feedback.

[2020-01-30 16:26] r0adkll commented on #3
@davidvavra @iamriajul Okay this should be resolved now and available using either `v1` or `v1.0.3`. I also updated the readme with better documentation on how this input is processed.

Check it out and let me know if this helps.

[2020-01-30 16:26] #3 closed

[2020-01-30 16:35] davidvavra commented on #3
Thanks @r0adkll. Will test with the next release of our app :)

But the documentation is still not clear - you added just more language examples, but the confusion was if that pattern is for folders or files? And files should have no extension? It would be best to add example for concrete `whatsNewDirectory` folder - what should be the files named and in which folder they should be?

[2020-01-30 16:42] r0adkll commented on #3
@davidvavra Okay, I will attempt to clarify further in the readme.

[2020-01-30 16:53] r0adkll commented on #3
Okay, that should be much clearer now

[2020-01-30 16:57] davidvavra commented on #3
@r0adkll Great! Thanks for fast responses and your work.

[2020-01-31 06:30] iamriajul commented on #3
@r0adkll Thanks, whatsNewDirectory is working now. I have just released a version and Play Console has my What's New text.
Thanks again.

[2020-02-06 15:51] mpost opened #5 "Accept serviceAccountJson as json text"
Currently the `serviceAccountJson` property accepts a path to a json file on disc. Since you would usually store this json file as a github secret it would be very convenient if the action could write the file to disc and make it available to the google play api.

[2020-02-08 16:07] r0adkll commented on #5
No problem 👍, I'll get this added

[2020-02-12 15:56] #5 closed

[2020-02-12 15:57] r0adkll commented on #5
Okay, you can now provide the direct JSON text of your serviceAccountFile via the input `serviceAccountJsonPlainText`. This will be available in `v1` or `v1.0.4`

[2020-03-11 21:28] phillyfan1138 opened #6 "Track names in request path and request body must match."
I'm getting the above error when using this on an alpha track:

https://github.com/realoptions/demo-api-app-flutter/runs/501717949?check_suite_focus=true

[2020-03-12 16:07] #6 closed

[2020-03-12 16:09] r0adkll commented on #6
This is now available under the `v1` tag! Thanks @vitusortner for the PR!

[2020-05-05 16:06] JuanM04 opened #9 "whatsnew-es-419"
WhatsNew filter does not work for Latin American spanish (`es-419`)

https://github.com/r0adkll/upload-google-play/blob/97de38cbae8f1e3197d78da1edc8f2c9cbe8eb39/src/whatsnew.ts#L11

[2020-05-15 15:16] r0adkll commented on #9
This should be an easy fix!

[2020-05-15 15:19] #9 closed

[2020-05-20 18:32] jd-lacey opened #10 "Feature Request: Add support for internal app sharing"
Google Play console allows apps to be uploaded for "Internal App Sharing". Not sure whether this is considered a "track" but I didn't see it mentioned in the list of values for `track`.

[2020-05-24 16:48] palvarez89 commented on #10
On the readme it says:

I assume `track: internal` is what you want.

[2020-06-01 15:18] josealfonsomora opened #11 "##[error]The caller does not have permission"
Getting this error before upload the bundle or apk

https://github.com/josealfonsomora/Three-Balance-Check/runs/726757957?check_suite_focus=true

There has to be something that I'm doing wrong but the lack of logs at this part does not help

Do you know what can happen?
Can we add more logs?

[2020-06-01 16:46] josealfonsomora commented on #11
I had wrong permissions at google play console. Closing the issue

[2020-06-01 16:46] #11 closed

[2020-06-05 14:34] r0adkll commented on #10
@palvarez89 That is just for the "Internal" track in the release management console. What @jd-lacey is referring to is a different release mechanism entirely in the console. I believe this is the documentation in the API for that method (https://developers.google.com/android-publisher/api-ref/internalappsharingartifacts) which will require a modified implementation from how this action publishes t

[2020-06-14 04:11] DPigeon commented on #11
What permissions did you set exactly? I set all the correct permissions such as owner with the proper RELEASE MANAGEMENT permissions but I still get the `##[error]The caller does not have permission` error.

[2020-06-14 08:06] josealfonsomora commented on #11
At google play console I didn't add this permission

![Google Play](https://miro.medium.com/max/700/1*JXKEAqbzf4-kLnz2gE2b-g.png)

I wrote a little guide because of the permission problems  [Medium post](https://medium.com/@josealfonsomora/publishing-android-apps-with-github-actions-3cb9a90396ca)

[2020-06-14 16:33] DPigeon commented on #11
Thanks !
However, I did mostly everything on this tutorial except for:
- Granting permission to gradlew at the beginning of the workflow
- Uploading a manual file app before

So do you think I need to do those 2 things before? Are they needed things?

[2020-06-14 16:41] josealfonsomora commented on #11
That is important, but the error will be different (something like "the track does not exist)

Take a look to the app that you granted the permissions, maybe you have more than one permission at your Google Play Console and you are not granting permissions to the new app

Gradle permission should give you another error building the apk and I believe your error is uploading

I would recommend remov

[2020-06-14 16:46] DPigeon commented on #11
Yes for the gradlew permission I can build my apk and sign it without any errors so that is not a problem.

For the other step, you're right. I probably need to upload a manual file before so that it knows which app the account service is refering to if that makes sense? I see that this may be the step that I am missing.

[2020-06-15 05:13] DPigeon opened #12 "Account Service Roles & Permissions"
Hello,

I am trying to use this action and I am unable to determine which role I need to set for my account service to authorize the deployment. I know that I have a role or permission with Android because I always get the `##[error]The caller does not have permission`. Even with all the roles set below:
![dddd](https://user-images.githubusercontent.com/37888675/84620010-cdde7800-aea4-11ea-8c71-9c

[2020-06-17 01:39] Garyfimo commented on #12
Hey, have you try with **Storage Object Creator** ?

[2020-06-17 02:39] DPigeon commented on #12
Hey. Just tried with the Storage Object Creator role and I still get the `[error]The caller does not have permission` error unfortunately.

[2020-06-21 22:08] DPigeon commented on #12
I fixed it with a missing role.

[2020-06-21 22:08] #12 closed

[2020-06-27 14:41] Garyfimo opened #13 "Fails but no error is showed"
Hey, I'm getting this fail, but it says much
![image](https://user-images.githubusercontent.com/5316995/85924822-44db1f80-b85a-11ea-91a5-a42596b91b81.png)

This is my job :)

  uploadAPK:
    name: Upload APK to Google Play
    runs-on: ubuntu-latest
    needs: buildAPK
    steps:
      - uses: actions/checkout@v2
      - name: Download app APK
        uses: actions/download-artifact@v1
        wi

[2020-06-27 14:42] Garyfimo commented on #13
![image](https://user-images.githubusercontent.com/5316995/85924846-705e0a00-b85a-11ea-81cc-ca37e522be77.png)

[2020-06-29 13:23] r0adkll commented on #13
Could you follow the steps here (https://help.github.com/en/actions/configuring-and-managing-workflows/managing-a-workflow-run#enabling-step-debug-logging) and add the secret to your repository `ACTIONS_STEP_DEBUG` to `true` and then re-run your action and further post the output from your run?

[2020-06-29 16:04] Garyfimo commented on #13
Hey, thanks for answering...
![image](https://user-images.githubusercontent.com/5316995/86028901-1bf09100-b9f8-11ea-8774-f4a1babcc5af.png)
![image](https://user-images.githubusercontent.com/5316995/86028923-24e16280-b9f8-11ea-8b30-f3815764ec1e.png)

I'm thinking  **serviceAccountJsonPlainText** has to be use, because I'm using **serviceAccountJson**

[2020-06-29 16:36] r0adkll commented on #13
I don't think that's the problem as the code checks for either and would throw a well-defined error if it was.

What I think is happening is that the action depends on the extension on the release file `.apk` or `.aab` but it looks like you are downloading the artifact without one. Try updating your previous step to set the name to `app-release.apk` and updating the `releaseFile: app-release.apk`

[2020-06-29 16:53] Garyfimo commented on #13
Hey, I've changed the name and got a new error.

![image](https://user-images.githubusercontent.com/5316995/86033800-219da500-b9ff-11ea-8dfb-dbd3de0914af.png)

[2020-06-29 18:14] r0adkll commented on #13
Does there error repeat when you re-run it? Have you already created a store listing and uploaded an apk? I know it won't let you upload via the API if you haven't manually uploaded at least once.

[2020-06-29 18:19] Garyfimo commented on #13
Does there error repeat when you re-run it? Yep, Ive change all names with the suffix .apk
Have you already created a store listing and uploaded an apk? -> I don't know what is that
if you haven't manually uploaded at least once. -> yes this app is on the play store right now!

[2020-06-29 19:05] #13 closed

[2020-06-29 19:06] r0adkll commented on #13
Awesome! I'm glad you figured it out. I'll take note to add some improved logging so as to help others in the future.

[2020-07-01 06:17] fobidlim opened #14 "##[error]Internal error encountered."
[code]

And this is logs.
[code]

[2020-07-04 17:52] rajkumaar23 opened #15 "Unable to find 'whatsnew' directory @ whatsnew/"
I do have my whatsnew files at `whatsnew/` in my project repo, but the action doesn't seem to be able to find it. @r0adkll, Am I doing something wrong?

Repo : https://github.com/amrita-repository/android-app
Logs : https://github.com/amrita-repository/android-app/runs/837230885?check_suite_focus=true

[2020-07-05 07:05] #15 closed

[2020-07-31 00:09] unimonkiez opened #17 "Add support for splits"
single APK and AAB is not an option for many apps right now, need to add support for many APKs at once.

[2020-08-03 12:20] nirmalhk7 commented on #1
I'm sorry, but I'm facing the same issue and I really can't figure where I've gone wrong.
[code]

Every stage in both jobs are able to run without errors. I used the List Production File stage to verify whether my file location is correct or not.
Here's the output for the last two stages of last jobs:
[code]
[code]

[2020-08-06 09:36] nirmalhk7 opened #18 "Socket Hangup: https://www.googleapis.com/upload/androidpublisher/v3/applications/ ... /uploadType=media failed"
I realise that an issue on this same problem was made and resolved previously, but even after incorporating those suggestions, my build isn't uploading to Play Console. I get the error:
`##[error]request to https://www.googleapis.com/upload/androidpublisher/v3/applications/com.nirmalhk7.collegego/edits/16958456934720867488/bundles?uploadType=media failed, reason: socket hang up`

Here is my CI cod

[2020-08-20 14:27] vitusortner commented on #10
Did you get to look into it already? If not, I'd gladly take over that task.

[2020-08-20 17:32] #10 closed

[2020-08-20 17:34] r0adkll commented on #10
@vitusortner I just resolved the issue now. It should be available in a moment on the tag `v1`. You can now set the track to `internalsharing` and it will attempt to upload the apk/bundle to internal app sharing. If successful it will set the output `internalSharingDownloadUrl` and the following environment variable: `INTERNAL_SHARING_DOWNLOAD_URL`

[2020-09-01 09:10] TiloHeidasch opened #21 "##[error]Track "production" could not be found"
I am using this action to publish my Android Application to Google Play.

Irrespective of the selected Track, I get the response "Track not found":
`##[error]Track "production" could not be found `
`##[error]Track "beta" could not be found `
`##[error]Track "alpha" could not be found `

The entire Stack of this Action is:
`Run r0adkll/upload-google-play@v1.0.4
  with:
    serviceAccountJsonPlainTe

[2020-09-03 17:29] Klausmd5 opened #22 "existing package not found"
Hi, everytime I try to run the CD, this error comes up.
The package exists, ive tried to copy it directly from a java class, so there should be no misspelling.
The package exists also on google playstore.

[code]

[2020-09-03 22:11] #22 closed

[2020-09-03 22:12] Klausmd5 commented on #22
ok, the app/build.gradle had a different package

[2020-09-04 18:02] TiloHeidasch commented on #21
It works now.
Seems that the issue was,
1st: My app was not initally approved
2nd: I didn't start the beta track using the new play console

Therefor this issue is resolved.

Thanks for the cool action that you implemented :+1:

[2020-09-04 18:02] #21 closed

[2020-09-06 11:31] banool commented on #11
I'm having trouble with this too, it seems the UI for creating a service account has changed.

[2020-09-16 11:20] juanma-lora-pepephone commented on #10
I don't see the url in ${{ steps.<step_id>.outputs.internalSharingDownloadUrl }} neither in ${{ env.INTERNAL_SHARING_DOWNLOAD_URL}} and the upload is successful. Has anyone the same problem?

[2020-09-16 15:53] chrismclarke opened #24 "Ability to edit an existing release instead of uploading new"
Would it be possible to add the ability to edit an existing release via action instead of uploading? I'm wondering if this might be as simple as running the script without a release file (removing the required field)?

A use case for this would be workflows where the action on one github branch submits a release to internal testing, and then another branch/release could be used to promote the same

[2020-10-06 06:10] juanma-lora-pepephone opened #26 "URL for internal sharing doesn't exist"
In a workflow to internal storage, I don't see the url in `${{ steps.<step_id>.outputs.internalSharingDownloadUrl }}` neither in `${{ env.INTERNAL_SHARING_DOWNLOAD_URL}}` and the upload was successful.

[code]

[2020-10-07 14:15] emme1009 opened #27 "Editable Release Name"
Would it be possible to specify the release name manually instead of using the version number?

My problem is that I have multiple releases with the same version number and would like to use custom codenames for them.

[2020-10-08 21:07] cjwhitsitt opened #28 "The `set-env` command is deprecated and will be disabled soon"
When running, I'm getting the following warning:

[code]

It's not causing an errors or anything to fail, but is showing up on every workflow run, which shows under Annotations for every run.

[2020-10-09 14:12] #28 closed

[2020-10-09 14:17] r0adkll commented on #27
oooh, this is a good idea. I will look into adding this as an input variable.

[2020-10-16 13:44] forntoh commented on #22
I am facing this issue, I have checked the package name in Gradle, workflow file, and in the play console they're the same

[2020-10-16 20:18] KOlowoyeye commented on #18
@nirmalhk7 I had the same issue and resolved it after realizing that the path that's given to `actions/download-artifact@v2` is the path to the folder that contains the artifact and not the path to the artifact file itself.  Also, the name of the artifact file is the same name from the `actions/upload-artifact@v1` step.

In your case you're creating a folder called `app-release.aab` and inside tha

[2020-10-17 05:50] boswelja opened #29 "Upload multiple artifacts to one release"
Is it possible to upload multiple artifacts under the same release? I've had a quick look and it seems this only supports one apk/aab per release.

[2020-10-19 08:10] forntoh commented on #10
I have the same problem, the env var doesn't exist

[2020-10-19 08:11] juanma-lora-pepephone commented on #10
I opened an issue: https://github.com/r0adkll/upload-google-play/issues/26

[2020-10-19 10:29] forntoh commented on #28
@cjwhitsitt use this
[code]

[2020-10-21 07:16] rusmichal opened #31 "Set dynamic package name"
Hey I'm using the step to upload the apk file but I want to make it more generic. I have dispatch workflow where I can put the flavor name and start workflow with flavor param. I added one more step before upload the apk file. The step define the package name based on the flavor param. The step returns proper string which is a package name. But upload gp step returns:

[code]

The steps I'm using:

[2020-10-26 15:27] vitusortner commented on #14
Any news on this? I've been encountering internal errors as well.

[2020-10-27 13:10] codewithtushar commented on #12
@DPigeon , which role have you added, does adding **Storage Object Creator** role solves it?

[2020-10-27 13:31] DPigeon commented on #12
@codewithtushar yes I added that one. Also, I needed to upload a release manually before being able to upload with this action. The action has to see that your project has a release already uploaded to work.

[2020-11-03 10:12] josealfonsomora opened #33 "inAppUpdatePriority option"
Is there a plan to add `inAppUpdatePriority` option?

https://developer.android.com/guide/playcore/in-app-updates

[code]

I can create a quick PR to add it

[2020-11-03 19:45] denis-ismailaj commented on #26
Any progress on this? I am having this issue as well

[2020-11-04 23:04] boswelja commented on #33
I'd like to look into this, pending merge of my latest changes first.

[2020-11-07 12:36] harshmandan opened #34 "multiple flavours support?"
Hello,

I have a project set up with multiple flavours/flavors. Every flavour has a different suffix so that it appends to the base package name. How would I upload those flavours to the play store?

[2020-11-09 19:19] r0adkll commented on #34
If those flavors all have different play store listings, then you can create a step for each flavor using this action.

[2020-11-09 19:19] #34 closed

[2020-11-11 13:04] r0adkll commented on #29
Resolved in #32

[2020-11-11 13:04] #29 closed

[2020-11-11 13:08] r0adkll commented on #31
Per the documentation have you tried setting [`result-encoding: string`](https://github.com/actions/github-script#result-encoding) on your `actions/github-script@v3` step to ensure that the output is formated in a pure string?

[2020-11-11 13:19] r0adkll commented on #33
I'm adding this in now

[2020-11-11 13:32] r0adkll commented on #17
This should now be resolved via #32

[2020-11-11 13:32] #17 closed

[2020-11-11 14:20] #27 closed

[2020-11-11 14:20] #33 closed

[2020-11-11 14:53] r0adkll commented on #24
That definitely seems feasible per the docs: https://developers.google.com/android-publisher/tracks, where I can update a release and specify a track to move it to. I will look into implementing this.

[2020-11-11 14:55] r0adkll commented on #26
You are correct, there seems to be some issue with getting a download URL when uploading via a service account. I'm still looking into this issue and will hopefully have it figured out in the next release.

[2020-11-11 15:09] r0adkll commented on #18
@KOlowoyeye Is correct, this issue can occur if it can't find the file to upload

[2020-11-11 15:09] #18 closed

[2020-11-11 18:08] AChep opened #36 "System.ArgumentException: Unexpected type '' encountered while reading 'action manifest root'. The type 'MappingToken' was expected."
Using the action as
[code]
I'm now getting the error
[code]

[2020-11-11 20:36] r0adkll commented on #36
Closed per #37

[2020-11-11 20:36] #36 closed

[2020-11-13 08:06] Warhammer4000 opened #38 "Arabic Release Notes Not being published"
So I have this folder where  I followed this structure
projectDir/
└── whatsNew/
    ├── whatsnew-en-US
    └── whatsnew-ar

After the action has been executed the english notes has been uploaded but not ar. I checked the BCP 47 standard for the code as well.

[2020-11-14 12:15] abdullah4one opened #39 "Only releases with status draft may be created on draft app."
Please add draft option

[2020-11-14 12:16] abdullah4one opened #40 "Warning: WARNING!! 'releaseFile' is deprecated and will be removed in a future release. Please migrate to 'releaseFiles'."
Warning: WARNING!! 'releaseFile' is deprecated and will be removed in a future release. Please migrate to 'releaseFiles'.

[2020-11-15 18:44] r0adkll commented on #40
Yes. This is intentional as the action as moved to multi-release file support using the key `releaseFiles` that takes a comma separated list of files to upload. You can just enter one file (no comma) and it will work the same as before.

[2020-11-15 18:44] #40 closed

[2020-11-15 18:45] r0adkll commented on #39
Could you clarify more on what you are trying to accomplish?

[2020-11-17 06:25] abdullah4one commented on #39
I try to publish app using Github action and in play store <br>
I don't make any release before this attempt and  this was the first release
<Br>and it show this error "Package not found: io.xxx.xx."<br>
Then i upload apk directly to play store then keep it as draft<br>
then i again run github action then  it show this error message

[2020-11-17 08:47] Nikostito opened #41 "Unable to find release file @ /build/app/outputs/apk/release/app-release-signed.apk"
Hello, I am trying to upload to Gplay my signed APK. It recognizes my Json correctly and my package name but says that inside my apk there is no release file. Can you please help me fix this issue?
Here are my settings:
`- name: Upload Android Release to Play Store
        uses: r0adkll/upload-google-play@v1

        with:
            serviceAccountJsonPlainText: **********
            packageName

[2020-11-17 15:08] r0adkll commented on #41
Possibly. Try taking them out of quotes.
Also if `/build/app/outputs/apk/release/app-release-signed.apk` is relative you should remove the first `/`, i.e.

[code]

[2020-11-24 03:13] boswelja opened #42 "Output the edits release name on success"
This would be useful for, e.g. creating a GitHub tag or release with the release name that gets generated by Google Play.

[2020-12-01 21:19] #42 closed

[2020-12-02 02:28] NicholasTempleton opened #44 "UnhandledPromiseRejectionWarning: Error: Missing required parameters: packageName"
I'm trying to upload to the "Internal Testing" track of Google Play and I'm getting the following error:

Here's my step:

I've changed the package name for the sake of this example, but I really do have a `packageName` set, contrary to what the error message claims. Any ideas?

[2020-12-08 20:09] emme1009 commented on #44
same here. was working fine last weekend but now i have the same error..any fix yet?

[2020-12-08 21:37] JonatanSalas commented on #44
Same issue here.

[2020-12-08 21:54] devapalanisamy commented on #44
same here

[2020-12-08 22:00] JonatanSalas commented on #44
It seems like a race condition error, but, anyway the bundle/apk uploads to Internal Testing.

[2020-12-08 22:43] NicholasTempleton commented on #44
Embarrassingly, it took me a while to actually check because I fixated on this error, but my bundle is actually uploading too.

[2020-12-09 09:22] chetansharmapsi opened #46 "Error: Missing required parameters: packageName"
I'm trying to deploy to the `Internal` track of Google Play and I'm getting the following error logs:

Error: Missing required parameters: packageName

    Run r0adkll/upload-google-play@v1
      with:
    serviceAccountJsonPlainText: ***
    packageName: ***
    releaseFiles: ***-release.aab
    track: internal
    whatsNewDirectory: distribution/whatsnew
    inAppUpdatePriority: 0

    Error: Mi

[2020-12-09 09:32] chetansharmapsi commented on #46
Seems it is related and duplicate of [issue 44](https://github.com/r0adkll/upload-google-play/issues/44). Closing this ticked.

[2020-12-09 09:32] #46 closed

[2020-12-09 14:52] WieFel commented on #44
same here

[2020-12-09 17:24] xom9ikk commented on #44
@emme1009, @JonatanSalas @devapalanisamy @NicholasTempleton @WieFel Issue fixed in pull request #47. Please wait next release.

[2020-12-09 17:44] crebstock commented on #44
You can temporarily avoid the issue entirely by specifying a releaseName directly as that prevents the call with the missing parameter from happening.

[2020-12-09 19:13] r0adkll commented on #44
Sorry about this everyone, and thanks to @xom9ikk for the PR. It should be live under `v1` and `v1.0.9`

[2020-12-09 19:13] #44 closed

[2020-12-09 19:14] r0adkll commented on #41
Since you haven't responded and I presume my above answer fixes your issue I'm going to close this issue.

[2020-12-09 19:14] #41 closed

[2020-12-09 19:15] r0adkll commented on #31
@rusmichal bump.

[2020-12-10 08:36] lolevsky opened #48 "This edit has already been successfully committed, please create a new Edit."
I had setup google play upload in this way:
[code]
The upload is working, and I see the aab in google play, but I am getting an error in github actions and it fails my build:
[code]

anyone know what is wrong?

P.S. I checked the version that I am uploading is unique and incremental number, so it is newer and higher version numbers.

[2020-12-10 10:44] remidenele commented on #48
I am seeing the same error today, now that #44 was fixed yesterday.

[2020-12-10 13:48] petarmarijanovicfive commented on #48
Yes, I am also seeing this error.
![image](https://user-images.githubusercontent.com/38075100/101780396-cbc54100-3af6-11eb-88c3-018401dec75c.png)

[2020-12-10 16:39] r0adkll commented on #48
Okay, I think I've resolved this issue. Please try again with either `v1` or `v1.0.10`.

[2020-12-10 17:17] remidenele commented on #48
I can confirm its working now. Thanks for the fix!
![image](https://user-images.githubusercontent.com/8693949/101806036-c1fe0680-3b13-11eb-9003-d24851f88e50.png)

[2020-12-10 18:50] r0adkll commented on #48
Awesome!

[2020-12-10 18:50] #48 closed

[2020-12-12 04:45] boswelja opened #49 "releaseName output undefined"
Seems the releaseName output is undefined, any idea what could be causing that? I've tried playing around with it on a local branch but can't seem to figure it out.

[2020-12-14 14:08] r0adkll commented on #49
Per issue #48, the call to fetch the release name from the API after committing it was causing this failure so I changed the implementation to try and fetch the release name from the response of adding the release to the edit, but now I suppose that doesn't get populated until it gets committed. Let me dig into the API more and see what I can do about properly generating this output and let me set

[2020-12-15 03:17] boswelja commented on #49
Oh interesting, I've tried moving the same call to before the commit is made in a local fork and it still returns undefined, so it seems like Google Play doesn't want to tell us about the release once it's created?

[2020-12-30 20:29] #26 closed

[2021-01-05 14:49] r0adkll commented on #49
Closing this per the conversation on #51. We can revisit this if and when Google updates or addresses the ability to pull this information.

[2021-01-05 14:49] #49 closed

[2021-01-05 14:49] #31 closed

[2021-01-06 13:33] Addono commented on #14
Any updates / success with triaging this issue? Getting a similar error message :/

[code]

No debug lines though, so not really sure what's going on 🤷
[code]

[2021-01-06 13:56] r0adkll commented on #14
@Addono If you could follow these steps to enable step debug logging (https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging) and post the output here it will greatly help me figure out what is going on. Thanks!

[2021-01-06 17:56] Addono commented on #14
Hmm 🤔  So I enabled debugging and had to wait until a new release came through. So now with debugging enabled everything went smooth. I don't remember changing anything, so I don't know what made it succeed this time.

Anyway, I will keep debug on and let you know when - if ever - it fails again.

Thanks for creating and maintaining this action! Super excited to automate another part in our CI 😄
!

[2021-01-07 02:38] r0adkll commented on #14
Awesome! I'm glad it's working for you! I'm going to close this issue and we can re-open if it pops up again
![image](https://user-images.githubusercontent.com/1237372/103844259-79306380-5067-11eb-89ad-a2314aa89dbd.gif)

[2021-01-07 02:38] #14 closed

[2021-01-12 03:07] reyts opened #55 "Error: The caller does not have permission"
Hello,

I have been trying to resolve this issue for a while now in my private repository.
The instructions for the create Play Store Service Account has been followed and doubled checked.
Every other thing passes except this stage.
Kindly assist

![image](https://user-images.githubusercontent.com/73900693/104264341-706dd200-5459-11eb-9e7c-5f236893797c.png)

[2021-01-12 13:39] r0adkll commented on #55
Hello @reyts! Could you verify what permissions the service account has in your Google Play Console under `Settings > Developer Account > API Access > Service accounts > View access`?

I have typically seen this error when insufficient privileges are given in this portal.

[2021-01-12 17:15] reyts commented on #55
I had all the required privileges granted. In fact, I had to add all 10 permissions just to test but to no avail.
I tried unchecking and checking the boxes, as well as creating a new service account and granting all permissions.

![image](https://user-images.githubusercontent.com/73900693/104348546-d5fca580-54cf-11eb-8db9-0cae49344cab.png)

[2021-01-13 14:04] r0adkll commented on #55
hmm, okay, it might be an issue with the action reading your service account JSON. Could you post your workflow .yml configuration for this action?

[2021-01-13 14:33] reyts commented on #55
Kindly find below the workflow used.

name: PlayStore Release

on:
  push:
    branches: [ main ]

jobs:
  version:
    name: Create version number
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Fetch all history for all tags and branches
      run: |
        git config remote.origin.url https://x-access-token:${{ secrets.TOKEN_SECRETS }}@github.com/${{ github.re

[2021-01-14 14:37] r0adkll commented on #55
Hmm, I don't see anything immediately wrong with that configuration unless something is amiss with how you have your `secrets.PLAYSTORE_ACCOUNT_KEY` setup. Could you follow these steps, https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging, to enable step debug logging and post your output here

[2021-01-15 04:14] aadegbite commented on #55
Hey @r0adkll

Kindly see below the raw logs with debugging enabled

2021-01-15T02:04:01.9954573Z ##[section]Starting: Request a runner to run this job
2021-01-15T02:04:02.3670533Z Can't find any online and idle self-hosted runner in current repository that matches the required labels: 'ubuntu-latest'
2021-01-15T02:04:02.3670642Z Can't find any online and idle self-hosted runner in current reposito

[2021-01-15 14:07] r0adkll commented on #55
hmm, okay, could you verify in your Google Play Console under `Users and permissions` that the service account email is that list (and add it if not). If it is in the list (or you just added it) can you click on it and verify that it as access to the application you are trying to deploy.

[2021-01-15 19:44] aadegbite commented on #55
Yes it does and I have verified that the account has the access to the application to be deployed

[2021-01-18 08:30] boswelja opened #56 "Consider using @vercel/ncc for builds"
ncc allows us to build a single js file with all required dependencies loaded, which means no node_modules in the repository.
I've found the built js file is rather large when using googleapis in my own projects, but it's considerably smaller compared to including node_modules.

[2021-01-23 11:29] yaacine opened #57 "Play Store is returning Error 502 (Server Error)!!1"
**Describe the bug**
I've been successfully using this action for a couple of months , but now I'm getting the following error , I think this is due to some changes in play.google.com  API

PS : notice that the app is successfully updated on playstore.

Useful link : https://twitter.com/iateyourmic/status/1352252574318157824?s=20

**Workflow Step Configuration**

[code]

**Step Debugging**

- [ ]

[2021-01-23 17:19] remidenele commented on #57
I noticed the same problem starting on Jan, 21.
The error is logged from [edit.ts#L95](https://github.com/r0adkll/upload-google-play/blob/master/src/edits.ts#L95), due to a 502 error returned by the [edits.commit](https://developers.google.com/android-publisher/api-ref/rest/v3/edits/commit) endpoint of the Google Play Developer API (called by the [commit method](https://github.com/r0adkll/upload-g

[2021-01-24 01:42] greenygh0st commented on #57
I am seeing the same issue as well with one my repos

[2021-01-24 17:04] nrimsky commented on #57
Noticed same issue although seems like app was indeed successfully deployed to google play so probably not an issue with the action

[2021-01-25 04:26] aidandavis commented on #57
I have seen this error over the last few days.

I have run two builds and both have failed. However, as @nrimsky says the build did make it to the app store.

Here's what I am seeing:

[code]

[2021-01-25 07:09] boswelja commented on #55
@aadegbite Is the issue still occurring? I've just checked my configuration and I haven't granted separate app permissions, so perhaps try running again with just the releases permissions under account permissions?

[2021-01-25 07:10] boswelja commented on #57
Definitely looks like an issue on Google's end. Nothing has changed on the action side and the edit still gets committed OK. As per @remidenele we should create an issue on Google's issue tracker.

[2021-01-25 07:52] boswelja commented on #57
I've just noticed we're using an older version of googleapis while working on unrelated changes. I'll try updating the version we use to the latest and see if that helps

[2021-01-25 17:02] aadegbite commented on #55
Yes the issue still persists. I will try again one more time with your suggestions.

[2021-01-26 06:48] boswelja commented on #57
I've created a separate branch to test with updated googleapis, and so far no error 502! Currently waiting for #58 to be merged as it depends on some changes there too. If anyone requires the step to be successful you can switch to `boswelja/upload-google-play@update-googleapis` until these changes are merged.

[2021-01-26 21:23] TinasheMzondiwa commented on #57
This issue is not happening anymore on my project.

[code]

[2021-01-26 22:09] joshuapinter commented on #39
Please can we have a "draft" feature that doesn't automatically release the new version. We still need to conduct final testing and update the Release Notes.

[2021-01-26 22:50] joshuapinter opened #59 "Add "draft" status."
Adding support for a "draft" status would be immensely useful. I believe a lot of people want to make some final changes or tests before actually releasing the new version, including updating the Release Notes.

I'm not very familiar with GitHub Actions but after a quick look, I believe just adding support for a `status` option here should do the trick:

https://github.com/r0adkll/upload-google-pl

[2021-01-26 23:07] boswelja commented on #57
@TinasheMzondiwa thanks for trying with the standard branch too! We can confirm that updating googleapis did not actually help, and that Google has fixed the issue on their end.

[2021-01-27 18:08] yaacine commented on #57
@boswelja maybe I can close this issue now ?

[2021-01-27 18:47] r0adkll commented on #57
That is good news! Thanks @boswelja and everyone for the great work! I'll go ahead and close this.

[2021-01-27 18:47] #57 closed

[2021-01-30 00:20] Drzaln opened #60 "package not found"
it always say `package not found` but my package name already same as the applicationId at `app/build.gradle`

**Workflow Step Configuration**

[code]

**Step Debugging**

- [x] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

[This is my failed action](https://github.com/Drzaln/r

[2021-01-30 20:39] kisakyegordon commented on #60
Am getting the same issue and its frustrating

[2021-01-31 10:37] madhank93 commented on #60
Me too getting the same error.

[2021-02-04 08:00] Warns commented on #60
@r0adkll can you please elaborate how to use the `whatsNewDirectory`

My workflow also is failing with the following error;
`Error: Unable to find 'whatsnew' directory @ android/release-notes/`

The related part in my workflow;
[code]
I'm unsure what to provide with the naming `whatsnew` or what is it expecting. Thanks

[2021-02-04 08:16] Drzaln commented on #60
Hi @Warns,
you must add the file manually at your project directory. In that case, whatsnew file is in `android/release-notes/`

[2021-02-04 08:25] Warns commented on #60
Hi @Drzaln,
Thanks for pointing that out. Indeed the error is gone now.
I have a new error `Error: Unexpected token e in JSON at position 0` but this seems an issue related to the google play JSON provided in the secrets.

[2021-02-04 10:11] Warns commented on #60
@r0adkll now at OP's `package not found` error.
![image](https://user-images.githubusercontent.com/4021052/106878021-85512480-66ea-11eb-8b22-412381ed5b2c.png)

[2021-02-04 14:01] r0adkll commented on #60
Hmmm, let me see what's going on

[2021-02-04 14:10] r0adkll commented on #60
@Warns @Drzaln Just to confirm, but have you manually uploaded an apk or bundle to the PlayStore with that same `packageName`? It should match the `applicationId` you have specified in your `build.gradle` file.

[2021-02-04 14:26] Drzaln commented on #60
@r0adkll Ah, so that's the problem. I haven't upload manually to the PlayStore. Thank you.
maybe should update the readme for that

[2021-02-04 14:54] Warns commented on #60
@r0adkll So we first need to manually upload a package with the same `packageName/applicationId` then afterwards the process will work automatically based on new release tags or pushes for example?

[2021-02-08 21:14] akm0012 commented on #55
@aadegbite  I had this same issue. This is how I got mine working:
1. In Google Play Console go to "Settings" / "Developer Account" / "API Access".
2. You should see your Service Account there. Click on "Grant Access"
3. When you are cool with the permissions, press "Invite User"
4. The Service account should instantly accept the invite and things should work after that.

Hope this helps!

[2021-02-26 05:18] tangent-q opened #61 "Running it locally leaves a service account file."
**Describe the bug**
I am running this locally using [act](https://github.com/nektos/act) and everything works fine, but after finishing the publish, it creates a service account file in the local directory.

**Workflow Step Configuration**

[code]

**Run this to publish**

[code]

**What happens**
- There will be a new file `serviceAccountJson.json` created in the current directory.
- I can add a

[2021-03-01 23:02] joaocarmo commented on #4
I had the same problem. Maybe the documentation could be more explicit?

[2021-03-02 21:28] r0adkll commented on #61
You are correct, I should have the action clean up after itself

[2021-03-16 07:35] 2manoj1 commented on #11
facing same issue. made owner role also android management user. Provide admin grant access in play console and added app permission. Getting same issue.

[2021-03-16 13:02] DPigeon commented on #11
I remember I had to upload a signed .apk or .aab file to my project app to make it work before being able to use this action.

[2021-03-16 13:09] 2manoj1 commented on #11
@DPigeon previous APK already in play console. Also uploaded manually. It's running in production.

[2021-03-17 16:28] GabrieleCalarota commented on #57
Sorry to repone this issue but I'm having issues since this afternoon at the last step of uploading:

[code]

I've enabled step debug logging now:

[2021-03-17 17:51] Anton22255 opened #62 "Error: Internal error encountered."
**Describe the bug**
Build's stoped working!
Error: Internal error encountered.

**Workflow Step Configuration**

[code]

**Step Debugging**

- [x] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

[code]

[2021-03-19 15:50] r0adkll commented on #62
This looks similar to this issue #57 where something on the Google Play Server is erroring that is outside the control of this action. I've created a branch that should hopefully have more verbose logging, if you could update your workflow to use `r0adkll/upload-google-play@fix/internal-errors` and see if the error still occurs and what logs it outputs

[2021-03-19 15:51] r0adkll commented on #57
@GabrieleCalarota It looks like another user is hitting the same issue and I suspect that it's an issue on Google's servers. I haven't heard of any changes, but then again I'm not actively listening for them. Please check out my comment here where I've added more verbose logging (https://github.com/r0adkll/upload-google-play/issues/62#issuecomment-802930922) and give that a shot.

[2021-03-19 15:53] GabrieleCalarota commented on #57
Luckily that seemed to last shortly, now I'm not experiencing that issue anymore .. I'll keep you posted

[2021-03-19 15:57] #60 closed

[2021-03-19 15:58] r0adkll commented on #56
Closing with Merge of #58

[2021-03-19 15:58] #56 closed

[2021-03-19 16:03] r0adkll commented on #61
@tangentq-admin I have pushed a fix of this to the branch`fix/cleanup-files`, if you could test by updating the action to `r0adkll/upload-google-play@fix/cleanup-files` it should resolve this issue and I can merge this change.

[2021-03-19 16:59] kunal26das opened #64 "Cannot update a published APK"
**Describe the bug**
A clear and concise description of what the bug is.
Error: Error: Cannot update a published APK.
Error: Cannot update a published APK.

Need to know why I'm seeing this.

**Workflow Step Configuration**

[code]

**Step Debugging**

- [ ] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#ena

[2021-03-19 17:24] r0adkll commented on #64
Please confirm that you have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging) and post the full logs of the action here.

[2021-03-19 22:18] kunal26das commented on #64
Currently I don't have admin rights to the github repo, so I couldn't.

[2021-03-20 14:36] #64 closed

[2021-03-20 14:37] kunal26das opened #65 "userFraction for 100% rollout not working"
Error: A provided userFraction must be between 0.0 and 1.0, inclusive-inclusive

Tried setting userFraction to 1 and 1.0, with and without quotes

[2021-04-01 23:17] r0adkll commented on #65
If you refer to the [README.md](https://github.com/r0adkll/upload-google-play/blob/master/README.md)

if you omit the user fraction from your workflow config it will perform a full rollout. I can't remember the precise reason I set it up this way, probably because of this exact issue, but if you omit the value it should work as desired.

[2021-04-01 23:17] #65 closed

[2021-04-05 15:29] cWenyu commented on #59
Hi @joshuapinter, does the package allow to use draft status? If not, could you tell me how did you solve the problem?

Thanks 😺 .

[2021-04-05 17:33] joshuapinter commented on #59
@cWenyu It doesn't. I still want/need this. You can create a PR for this if you need it as well.

[2021-04-05 17:55] cWenyu commented on #59
@joshuapinter  Thank you for your reply, I solved the issue by promoting internal testing to the next phase and the staus went from "draft" to "In review". I know it might be wrong, but I think deploying the app via firebase is quite time-consuming, change status is a quicker way and it meets my current requirements.

[2021-04-05 19:47] joshuapinter commented on #59
We’re doing the same thin as a workaround. Being able to set a draft status is definitely the way to go though.
On Apr 5, 2021, 11:55 AM -0600, cWenyu ***@***.***>, wrote:

[2021-04-08 14:34] andrmoel opened #67 "ENOENT: no such file or directory"
**Describe the bug**
The workflow shows the following error:
[code]

I created a test repository to reproduce the issue: https://github.com/andrmoel/test-upload-apk

**Workflow Step Configuration**

[code]

**Step Debugging**

- [X] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

[2021-04-08 16:30] andrmoel commented on #67
Solved it!
I had to use `serviceAccountJsonPlainText`

But I prefer to have a better meaningful error message in that case

[2021-04-09 03:02] BennyKok commented on #55
In case anyone bumps into my situation, if you are using the same user for multiple apps, I have the same problem until I realized I haven't added the new app to the API user, and remember to hit the "Save changes" button after adding it.
![image](https://user-images.githubusercontent.com/18395202/114122346-ab7d8580-9922-11eb-8864-bd4034617249.png)

[2021-04-09 14:09] r0adkll commented on #67
Thanks for the feedback! I will add a better check to prevent this in the future.

I should also rename that field to be something more succinct (like `serviceAccountJsonFile`) so that the setup isn't as confusing to new users.

[2021-04-09 14:09] #67 closed

[2021-04-09 14:09] r0adkll commented on #61
@tangentq-admin bump!

[2021-04-27 12:30] cachapa opened #68 "Auto-increment version code"
One of the features I really like about  Gradle Play Publisher is the ability to auto-increment the version code: https://github.com/Triple-T/gradle-play-publisher#handling-version-conflicts

Would it be possible for this action to implement similar functionality? Version codes have no meaning in my release workflow so I just want to automate it in a way that avoids conflicts.

[2021-04-27 18:01] vpmalley commented on #68
Looking for the same feature.
Given that the versionCode is supposed to be set before the bundle phase, this is probably worth another action, not a feature of the upload action.

[2021-04-27 19:01] r0adkll commented on #68
@vpmalley Is correct. This would not be even possible with this action since the bundle/apk is already built. Gradle Play Publisher is able to accomplish this because it's a Gradle plugin and can add this process to the build steps.

I would suggest finding or creating another action to accomplish this or implementing a versioning schema to avoid the problem all together. Something like this (http

[2021-04-27 19:01] #68 closed

[2021-04-27 19:33] cachapa commented on #68
That does make sense, thanks for the update.

[2021-04-28 21:53] muth0mi commented on #39
Be able to push releases to internal testing without a reviewed release

[2021-05-03 14:19] Jeehut commented on #39
Hey everyone, just a quick note on how I worked around this:
Just setup "Closed Testing" and add countries (e.g. all) & some testers, then review & release. This will make your app be available for these testers and therefore it won't be a "draft" anymore, instead it will be marked as "Closed Testing".
<img width="1262" alt="Bildschirmfoto 2021-05-03 um 16 18 18" src="https://user-images.githubuse

[2021-05-23 13:00] DuarteBarbosaPT opened #70 "Only releases with status draft may be created on draft app."
**Describe the bug**

Can't upload to internal track
"Error: Unknown Error in Upload(Error: Only releases with status draft may be created on draft app.): Only releases with status draft may be created on draft app."

**Workflow Step Configuration**

[code]

**Step Debugging**

- [] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/e

[2021-05-28 00:10] tsoos99dev opened #71 "Uploading multiple APKs"
Hi, I gave both the 32-bit and the 64-bit versions of an app as inputs, expecting that they'd be uploaded together. Unfortunately I got this error.

![upload_error](https://user-images.githubusercontent.com/39013301/119911325-686e8480-bf59-11eb-9fa4-952e5b0ce242.png)

What am I doing wrong? I'd rather not create an app bundle if possible.

[2021-06-07 13:57] thewolfaxe commented on #41
Hey, I'm having a similar issue, my upload artifact step seems to find the app bundle successfully, but the upload to playstore fails on the same path

`    - name: Upload build artifacts
      uses: actions/upload-artifact@v1
      with:
        name: App Bundle
        path: Mobile/build/app/outputs/bundle/release/app.aab

    - name: Checkout code to get release notes
      uses: actions/checko

[2021-06-07 15:01] thewolfaxe commented on #41
Well it seems like the problem was something to do with the checkout and the whatsNewDirectory. Taking both of those out successfully uploaded to the play store

[2021-06-13 00:08] auriorx commented on #70
@PedroBarbosaPT I think I've found a work-around.

`
if (options.userFraction != undefined) {        status = 'inProgress';    } else {        status = 'completed';    }
`

I saw this piece of code in the source. The status of the release will not be set to completed if userFraction is defined. So for me, using userFraction: 0.99 worked!

I hope this little workaround will suit your needs.

@r0adk

[2021-06-13 00:09] auriorx commented on #59
@joshuapinter I think I've found a work-around.

`
if (options.userFraction != undefined) {        status = 'inProgress';    } else {        status = 'completed';    }
`

I saw this piece of code in the source. The status of the release will not be set to completed if userFraction is defined. So for me, using userFraction: 0.99 worked!

I hope this little workaround will suit your needs.

[2021-06-13 00:11] auriorx commented on #39
@abdullah4one I think I've found a work-around.

`if (options.userFraction != undefined) { status = 'inProgress'; } else { status = 'completed'; }`

I saw this piece of code in the source. The status of the release will not be set to completed if userFraction is defined. So for me, using `userFraction: 0.99` worked!

I hope this little workaround will suit your needs.

[2021-06-13 11:36] PedroBarbosaPT commented on #70
I now get a new error "Staged rollout is not permitted on draft app."

[2021-06-13 13:52] auriorx commented on #70
What is your current .yml configuration?

This is my working one.

`- name: Push to Play Store        uses: r0adkll/upload-google-play@v1        with:          serviceAccountJsonPlainText: ${{ secrets.EXPERIMENTAL_PLAY_STORE_JSON }}          packageName: org.*          releaseFiles: ./android/*.aab          track: internal          inAppUpdatePriority: 2          userFraction: 0.99`

[2021-06-14 08:46] daniil-shumko commented on #59
None of the workarounds were good enough for me so I've decided to use `fastlane supply` instead of this step. Fastlane comes pre installed on GitHub Actions anyway and `fastlane supply` allows you to specify what status you want to use when deploying the app.

I was planing to move to Fastlane in the future anyway but seen that this step is not actively maintained made be migrate earlier than i w

[2021-06-14 11:55] PedroBarbosaPT commented on #70
This is my entire yml config

`name: Upload to internal testing

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Push to Play Store
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}

[2021-06-14 12:02] auriorx commented on #70
I'm not entirely sure, but it seems to me that the mappingFile is still pointing to a "release" directory.

Release shouldn't be used on an internal track push, hence you're still getting a similar "draft app" error.

[2021-06-14 12:05] auriorx commented on #59
@daniil-shumko thanks for mentioning that repo! I will definitely be checking that out too.

Might also be interesting for @PedroBarbosaPT.

[2021-06-14 13:11] PedroBarbosaPT commented on #70
When I uploaded manually the version to the internal track, I always uploaded the release version. Should I not?
If I try to upload the debug version, that I signed with Android Studio (the same way I do with the release version) it says "The Android App Bundle was not signed."
Is there a reason why Android Studio isn't signing the debug version? Am I doing anything wrong?
Thanks

[2021-06-14 16:49] daniil-shumko commented on #59
@auriorx no worries. Here is a quick command that I am using that replaces this whole step for me.
[code]
If you need to pass any other parameters or if you are using a JSON file instead of JSON string from the Secrets, you can find all the [documentation on fastlanes website](https://docs.fastlane.tools/actions/supply/#parameters).

[2021-06-14 18:35] auriorx commented on #59
@daniil-shumko I'm very grateful, thanks again!

[2021-06-14 18:41] auriorx commented on #70
To be honest; I'm not quite sure. The only difference I see is that you are using the mappingFile and I'm not.

However, I'm not sure if that's even the problem. For some reason, Google seems to not let you upload a draft app to the internal track.

Did you turn on 'Internal sharing' in Google Developer?

[2021-06-16 09:10] mpost commented on #70
I am seeing a similar error with a draft app. I was trying to use `userFraction: 0.0` which resulted in the error message.

[code]

[2021-06-16 09:16] auriorx commented on #70
@mpost 0.00 and 1.0 aren't allowed, it has to be inbetween of those values. Your best bet would be 0.01 then. Not sure if you can use more zeros in front of the 1.

At this point I would recommend using fastlane, as a user suggested in another issue within this repo:

I've made the transition myself as well. It comes with GitHub actions by default and works as a charm for me.

[2021-07-03 05:42] boswelja commented on #71
Google Play doesn't support 32-bit uploads anymore. Did you read the error? Because it's telling you there was an APK that doesn't meet the 64-bit requirement (i.e. your 32-bit one).
For reference, are you able to upload the 32-bit APK to the Play Console manually?

[2021-07-05 01:07] mboudreau commented on #60
This still isn't in the README...

[2021-07-05 13:27] tsoos99dev commented on #71
Yes, if I upload both manually, I can create a release containing both without any issues. Here, it seems that only the 32-bit version was uploaded before the error occurred.
 [https://developer.android.com/google/play/publishing/multiple-apks]()

[2021-07-07 07:30] ModdyLP commented on #59
If I use the fixes from the comments i get another error, may someone can help.
'Error: Staged rollout is not permitted on draft app.'

[2021-07-12 21:50] jbooherl opened #72 "Number Range for userFraction is exclusive"
**Describe the bug**
1.0 and 0.0 should be valid.

**Workflow Step Configuration**

[code]

**Step Debugging**
Current userFraction is <= and >= when it should be < and >.

[2021-08-07 18:56] richard457 opened #74 "Ability to release to more than one track in single build"
track: [beta,production] is this possible?

[2021-08-09 17:54] IgorGanapolsky opened #75 "Ambiguous warning"
**Describe the bug**

**Workflow Step Configuration**
- name: Publish to Play Store internal test track
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{secrets.SERVICE_ACCOUNT_JSON}}
          # 3
          packageName: com.igor.ganapolsky
          releaseFile: app-release.aab
          track: internal
          mappingFile: mapping.txt

[2021-08-10 12:14] KiranI-Bsw commented on #67
I'm using the `serviceAccountJsonPlainText` still getting the error!

[code]

My workflow contains
[code]

[2021-08-19 22:09] yairm210 commented on #55
This is an annoying amount of guesswork... I encountered the same problem, and this was solved by granting Admin access in the Google Play Console, even though I just needed to upload files and create new versions.

Since this seems to be a [common problem](https://github.com/r0adkll/upload-google-play/issues/12), I thought I'd post the final configuration:

- [Google Cloud Platform IAM roles](htt

[2021-08-20 09:57] marin-marsic opened #76 "Ability to retain old versions of the apk"
This is actually a question.
I was wondering whether it is possible to somehow retain some apk versions when making a new release. If so, how, if not, is there a possibility for this feature to be added?

The Google Play Console supports this option. The use cases where this would be useful are:
- if some devices stop being supported and stop getting new updates, we still want to let them download

[2021-08-30 12:19] pamartineza opened #77 "Support BCP 47 language codes without contry code"
##**Describe the bug**

Hi,

Google Play Listings currently support many BCP 47 language codes without country code eg:

    et -> Estonian
    ca -> Catalan
    ar -> Arabic

The existing regex filter for "whatsnew" files is ignoring this kind of language codes, I have created a [Pull Request](https://github.com/r0adkll/upload-google-play/pull/73) #73  where I updated the regex filter accordingly

[2021-09-02 00:22] dougkeen commented on #61
Fyi, I just tested the cleanup code in that branch within my own project and it worked just fine.

[2021-09-06 10:42] amitav13 commented on #74
I'm looking for this as well. This is my current non-working setup:
[code]
This gives me an error since if I try to do a prod release with the same aab since the `versionCode` is already taken.
Rather than a new release, we need to "promote" the release from beta to prod.

[2021-09-08 08:40] petermusembi69 commented on #67
This worked for me.

[2021-09-10 18:25] #71 closed

[2021-09-18 14:00] kazi-sit opened #79 "how to use internalSharingDownloadUrls this key next stack message"

[2021-09-21 16:28] r0adkll commented on #39
Should now be resolved in `v1.0.16` per PR #78

[2021-09-21 16:28] #39 closed

[2021-09-21 16:29] r0adkll commented on #59
Should now be resolved in `v1.0.16` per PR #78

[2021-09-21 16:29] #59 closed

[2021-09-21 21:14] richard457 opened #80 "This error popped up recently! any help?"
I am getting this error all of sudde
![Capture](https://user-images.githubusercontent.com/8529700/134248585-c9a9cb48-a932-495b-8a47-9b59fe2d2e2b.PNG)
n

[2021-09-21 21:21] gabriel-loo commented on #80
I'm seeing this as well. It looks like it is caused by #78 where it doesn't set the default status properly if it's not defined. I think the bug is due to [this line](https://github.com/r0adkll/upload-google-play/pull/78/files#diff-4fab5baaca5c14d2de62d8d2fceef376ddddcc8e9509d86cfa5643f51b89ce3dR24):

[code]

`getInput()` [returns an empty string](https://github.com/actions/toolkit/blob/f0b00fd201

[2021-09-21 22:10] r0adkll commented on #80
Uh oh! Let me fix this and in the mean time you should be able to update your actions to point to `@v1.0.15` to use the previous release.

[2021-09-22 08:36] auriorx commented on #80
@richard457 @gabriel-loo @anrozhkov to prevent future problems in your pipeline, I would also advise to not use @latest to make sure that your build pipeline is always connected to an action version you know to be working.

Only if this is not already the case of course.

Happy coding.
~Auriorx

[2021-09-22 17:08] joshuapinter commented on #80
This. Static Versioning FTW!

[2021-09-24 07:02] tronku commented on #80
I am still getting the same error on 1.0.16 @r0adkll, please help. Should we roll back to 1.0.15??

<img width="1076" alt="Screenshot 2021-09-24 at 12 32 10 PM" src="https://user-images.githubusercontent.com/31654207/134632223-012d343f-b303-47c1-8257-0336de684609.png">

[2021-09-24 08:44] shubhwicked commented on #80
Yes, I got the same error with the latest version, shall I use 1.0.15, again?

[2021-09-24 09:14] hrach commented on #80
Putting key words as a text here instead of image: `Invalid value at 'track_config.releases[0].status' (type.googleapis.com/google.play.publishingapi.v3.Release.Status)`

[2021-09-24 20:36] vytautas-pranskunas- opened #81 "nvalid value at 'track_config.releases[0].status'"
Hello,

recently I have started to get this error:
[code]

my script looke like:
[code]

I did not get it earlier.
Any ideas why it so?

Thanks

[2021-09-25 05:50] TinasheMzondiwa commented on #81
Experiencing the same error.

[2021-09-25 14:33] rynld commented on #81
I have a similar issue:

`Invalid value at 'track_config.releases[0].status' (type.googleapis.com/google.play.publishingapi.v3.Release.Status), ""`

My config is:
[code]

The issue started happening on September 21th.

[2021-09-26 11:41] yairm210 commented on #81
Encountering the same problem
Seems to be a problem in addReleasesToTrack, using androidPublisher.edits.tracks.update()

Going into the googleApis and reading through their gaziliion releases, it appears that they [updated the androidPublisher](https://github.com/googleapis/google-api-nodejs-client/releases/tag/androidpublisher-v2.0.0) together with many other of their libs, and this is a major ve

[2021-09-26 11:50] yairm210 commented on #81
No, wait, my mistake
I see you're using googleApis directly, so there should be no problem:

[code]

[2021-09-26 12:04] vytautas-pranskunas- commented on #81
@yairm210 who is using google apis directly? did not get anything...
If there is a bug do you know when it is fixed?

[2021-09-26 12:12] yairm210 commented on #81
Or it could be the other issue in this repo for the same problem that provides a solution as well...

tl;dr, This was a version bug in 1.0.16, temp solution is to change to `@v1.0.15` instead of `@v1`

[Tested, works](https://github.com/yairm210/Unciv/runs/3712736558).

@r0adkll close this issue please, it's a dupe of #80

[2021-09-26 12:30] #81 closed

[2021-09-27 20:09] mateuszkwiecinski commented on #80
I'd suggest to move the `v1` tag back to the last working version (if that's not a problem). It would make the action working for people using `v1` version tag (that's the reason why I showed up here 😅)
Also, seeing more and more people are referencing this issue, I'd suggest and ask you @richard457 to update the title to something containing the error message. Google didn't index this issue for m

[2021-09-28 19:12] gustavocnp95 commented on #80
Same problem here! It would be better to go back to the last working version.

[2021-10-04 12:16] willmetz commented on #80
rolling back to version 1.0.15 fixed the issue for me, thanks for all the posts here much appreciated

[2021-10-11 09:04] vytautas-pranskunas- opened #82 "Changes cannot be sent for review automatically. Please set the query parameter changesNotSentForReview to true."
Recently I started to get this error:
"Changes cannot be sent for review automatically. Please set the query parameter changesNotSentForReview to true."
any idea why is it so?
I am using v15 explicitly because of another bug: https://github.com/r0adkll/upload-google-play/issues/80

[2021-10-11 09:21] #82 closed, assigned to r0adkll

[2021-10-27 21:19] xtovski opened #83 "Bump version code?"
**Describe the bug**
Version code sent to Google Play is modified, suffixed with "004"

**Workflow Step Configuration**

build.gradle:
[code]

ci.yml:
[code]

**Step Debugging**

- [*] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

[code]

[2021-10-28 18:28] DancinDirk opened #84 "there is no option to set the query parameter changesNotSentForReview to true"
**Describe the bug**
We started getting this build error today. It worked fine yesterday.

**Workflow Step Configuration**

[code]

As far as I can see, there is no option to set the query parameter changesNotSentForReview to true

[2021-10-28 21:16] #83 closed, assigned to r0adkll

[2021-10-29 16:24] Bubelbub opened #85 "Error: Invalid value at 'track_config.releases[0].status' (type.googleapis.com/google.play.publishingapi.v3.Release.Status), """
**Describe the bug**
When specify a track then I get a error message.

**Workflow Step Configuration**

[code]

**Step Debugging**

- [X] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

[code]

[2021-10-30 22:01] yairm210 commented on #85
Looks like a copy of #80 , try setting the version manually as discussed there, worked for me

[2021-10-31 21:53] storeyleon commented on #85
Yep, works fine with `r0adkll/upload-google-play@v1.0.15`

[2021-11-02 14:17] tangent-q commented on #61
@r0adkll Sorry for the delayed confirmation. I wasn't working on this project.

Yes, it works fine on `r0adkll/upload-google-play@fix/cleanup-files`

[2021-11-08 15:05] marin-marsic opened #86 "Execution takes too long and gets canceled"
**Describe the bug**

I've been using this action to upload versions of the app to internal app sharing. Recently I've noticed that the upload action takes too long to finish executing and eventually gets terminated by the host.

![Screenshot 2021-11-08 at 15 50 20](https://user-images.githubusercontent.com/12954958/140765672-e34865ed-b5b5-4cbb-b48f-731a0df5c4c0.png)

![Screenshot 2021-11-08 at 15

[2021-11-13 06:01] princefr commented on #84
I've made a pull request about this one.
 #88

[2021-11-23 12:10] jagdishjadeja commented on #55
i am facing same issue
has anyone found solution ?

[2021-12-02 05:29] shubhwicked commented on #86
The same problem happens to me, hang more than 5 hours on this process and gets failed.
![Screenshot 2021-12-02 at 10 58 19 AM](https://user-images.githubusercontent.com/18566425/144363188-92de2ee0-1e3b-448a-a96c-36c4d3ed8d80.png)

[2021-12-02 23:43] canastro opened #89 "Fails with PEM_read_bio_ex: bad base64 decode"
**Describe the bug**
When running this action I get the following error message `Error: error:09091064:PEM routines:PEM_read_bio_ex:bad base64 decode`

More details [here](https://github.com/canastro/flutter_skeleton_app/runs/4402189423?check_suite_focus=true)

**Workflow Step Configuration**

[code]

**Step Debugging**

- [x] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro

[2021-12-03 10:51] canastro commented on #89
I generated a new service account and this got fixed.
I think that when I went through the process of adding the first service account I forgot to grant access to the app 🤦🏽

[2021-12-03 10:51] #89 closed

[2021-12-09 17:03] KClaassen opened #90 "Error: Unable to find any release file @ release.apk"
**Describe the bug**
We are trying to automate the uploading to google play store, however after uploading-artifact, we can find the generated 'release.apk' in Github under actions/runs/1559765535, however in the upload-google-play it doesn't seem to recognise the 'releasesFiles' location, doesn't matter what we try, what are we doing wrong here?

**Workflow Step Configuration**

[code]

name: Dep

[2021-12-10 13:09] KClaassen commented on #90
Hi, any update on this? We have tried everything that we can think of with the path and releaseFiles but can't get it to work
<img width="793" alt="Screenshot 2021-12-10 at 14 09 33" src="https://user-images.githubusercontent.com/26342262/145579000-0eb0762b-dbfc-4d95-85f0-202c4f1e6f56.png">
.

[2021-12-15 08:07] mitch2na commented on #90
@KClaassen So i ran into this issue as well. Got it to work by adding the absolute file path of the app bundle.

I build my appbundle with flutter so the release file path looks like this:
[code]

[2021-12-15 15:13] KClaassen commented on #90
Ok thanks I will try that

[2021-12-23 16:03] dinisnunes1 opened #91 "Track does not allow to choose other closed testing tracks"
**Describe the bug**
Track allowed values are: `alpha`, `beta`, `internal`, `production`, `internalsharing`.
Google Play allow other types of closed testing, and we can name it as we want.
For instance, I have a closed track on Google Play named "**Release candidate**", how to set the **track** field to Release candidate name?
(official docs: [https://support.google.com/googleplay/android-develope

[2021-12-26 19:29] yurii-a commented on #55
I have faced the same issue and couldn't resolve until I completed the next steps.
1. Create a Service Account with Editor rights and a key and add its JSON content to GitHub secrets.
2. Go to the Play Store Developer Console > API access and "invite" the newly created a service account.
3. Grant an access to edit the releases in Play Console.
4. Choose your API user in Console and check whether i

[2021-12-28 11:58] dinisnunes1 commented on #91
Nevermind, the track is case sensitive and I had success uploading when put the track to "Release candidate" exactly how it is specified on Google Console. Maybe you could update the docs saying that the track can also be free text if we're using a custom closed testing track.

[2021-12-30 21:25] rana01645 opened #92 "Error: Unable to find 'whatsnew' directory @ distribution/"
I set the whatsnew directory according to the documentation

Still always getting this error

Error: Unable to find 'whatsnew' directory @ distribution/

[2022-01-01 18:26] danielehrhardt commented on #85
[code]

[2022-01-02 16:45] MohamedFBoussaid commented on #77
Hey @pamartineza did you manage to make it work after merge ?

I am using the following files whatsnew-fr-FR, whatsnew-en-GB and whatsnew-ar.

Only English and French got updated, but not the arabic one.

[2022-01-02 16:51] pamartineza commented on #77
Hi, it has been merged but not yet released 🤷‍♂️

El dom., 2 ene. 2022 17:45, Mohamed BOUSSAID ***@***.***>
escribió:

[2022-01-02 17:35] MohamedFBoussaid commented on #77
Ahhh got it. Thanks @pamartineza
Bcs I saw that your PR was merged on Sep 21st and the latest release was on Sep 21st. I thought it was included in the release.
Did you manager to workaround it ? Or I should wait for the release ?

Thank yoi @pamartineza

[2022-01-03 10:28] pamartineza commented on #77
@MohamedFBoussaid I use the step to publish to the alpha track and then on the Google play interface I manually update the text, there is no alternative until the next release is published. @r0adkll may you bump to the next release anytime soon?

[2022-01-06 20:04] rchampa commented on #85
I'm facing the same issue wit the following setup.
`
- name: Deploy to Play Store (Alpha)
        id: deploy
        uses: r0adkll/upload-google-play@v1.0.16
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: es.algoritmo.githubactions
          releaseFiles: ${{steps.sign_app.outputs.signedReleaseFile}}
          track: alpha

[2022-01-12 20:47] yairm210 commented on #85
You both are using `1.0.16`, which is the broken version, and not `1.0.15`, which is the non-broken version.

[2022-01-12 21:02] patrickbussmann commented on #85
@yairm210 why then there is no "new" release with a working version?
I dont see `1.0.17` 😥

[2022-01-12 21:05] yairm210 commented on #85
I don't know, I'm not a maintainer ¯\_(ツ)_/¯
Just someone who encountered the same problem and is trying to help :)

[2022-01-21 09:23] boswelja commented on #86
I just had the same thing happen to me, it hung on uploading an app bundle. It's worth noting the first bundle uploaded fine, the second did not

[2022-01-21 23:43] kelvinmarshall commented on #85
Adding the status property fixes the issue.

[2022-01-26 18:53] stevenspiel opened #93 "Upload native debug symbols"
Is there a way to upload the native debug symbols? I'm able to upload the mapping just fine, but Google Play still is asking for the debug symbols

![Screen Shot 2022-01-26 at 1 52 38 PM](https://user-images.githubusercontent.com/1630091/151227847-66a66065-f051-49c6-9bca-b0f61c6da843.png)

[2022-02-01 18:26] nbegey commented on #90
Made it work with :
./build/outputs/bundle/release/android-ci-release.aab

To see where your project is, you can use **run: echo pwd**

[2022-02-15 13:28] parthvirani95 commented on #80
![image](https://user-images.githubusercontent.com/49033709/154070896-f5efbe51-ad9f-4f48-becf-8fd4d4df765e.png)
I had solved this by passing the status parameter into it and it worked fine, hope someone find this helpful, and I use this repo https://github.com/r0adkll/upload-google-play for upload to playstore.

Before status parameter:
![image](https://user-images.githubusercontent.com/49033709/1

[2022-02-26 06:43] krishnarajan-acumenTec commented on #55
i have a owner permission but still i couldn't

[2022-03-04 05:20] dginovker opened #95 "Action returns undefined, download link is 404"
**Describe the bug**
Following running the action, I get the following output:

[code]

**Workflow Step Configuration**

[code]

**Step Debugging**

- [x] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

[code]

[2022-03-07 09:56] johanneslagos opened #96 "Actions return Error: This Edit has been deleted. However the aab has been uploaded."
My yaml file looks like this:
`Run r0adkll/***-google-play@v1.0.1[5](https://github.com/nrkno/yr-app-android/runs/5446197740?check_suite_focus=true#step:10:5)
  with:
    serviceAccountJsonPlainText: ***
    packageName: ***
    releaseFiles: platform-mobile/build/outputs/bundle/productionRelease/platform-mobile-production-release.aab
    track: internal
    mappingFile: platform-mobile/build/outp

[2022-03-07 12:15] johanneslagos opened #97 "Publish to two track at the same time."
This is a feature wish.

Possibility to publish to two different tracks at the same time, as example 'internal | beta'

[2022-03-09 06:00] shubhwicked opened #98 "The caller does not have permission"
I am using r0adkll/upload-google-play@v1.0.15 for releasing my bundle on the play store. It was working fine till now, but suddenly I am getting this error while uploading the bundle to the play store.

[code]

I am getting this error on github actions
[code]

[2022-03-30 03:32] reyts commented on #80
This worked like a charm

[2022-03-31 18:30] ssepulveda08 opened #100 "Unable to find any release file"
When I try to launch the workflows I get this error:
Unable to find any release file @ app/build/outputs/bundle/release/app-release.aab

     ` uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          # 3
          packageName: MyPackage
          releaseFiles: app/build/outputs/bundle/release/app-release.aab
          t

[2022-04-12 20:43] markdturner commented on #100
This looks the same as #90 and I also have the same problem. From that other issue, I have tried setting the path in absolute and relative terms but no joy.

[code]
[code]

the path is correct as I can use it to add artefacts to the repo in a subsequent step
[code]

[2022-04-13 16:20] ssepulveda08 commented on #100
I struggled a lot with this, in my case the solution was to use the r0adkll/upload-google-play@v1.0.15 version, I share the workflows with you.

    name: Deploy to Play Store

    on:
      push:
        branches:
          - master

    jobs:
      deploy:
        runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Java 11
        uses:

[2022-04-14 17:59] JoelKanyi commented on #92
Was this ever solved because I am always getting the error

[2022-04-30 01:12] rana01645 commented on #92
Okay, I figure out a soltion. The first step should always checkout the current project directory
So, adding   - uses: actions/checkout@v2 this line  fixed the issue
Before
[code]

After
[code]

[2022-04-30 01:12] #92 closed

[2022-05-03 02:56] lozdan commented on #84
@DancinDirk did you find any workaround for this?

[2022-05-03 10:58] chriswiesner commented on #84
same problem here

[2022-05-06 07:25] PhongPham0909 commented on #11
I have the same issue with you. Can you tell me: how to grant permission to avoid that issue. Thanks

[2022-05-18 20:16] romatallinn commented on #84
Same here. Any workarounds?

[2022-05-18 20:20] lozdan commented on #84
I ended up forking the repository and hardcoding the true value

[2022-05-18 20:22] romatallinn commented on #84
Haha, well, that's always an option. 😂

[2022-05-18 20:22] romatallinn commented on #84
@r0adkll 🙏

[2022-05-19 18:28] ph1ash commented on #86
Any updates on this? Same thing happened as well - was running for over an hour and I cancelled it manually. No output describing any hang-ups or possible issues, just that it was still at the `Uploading` stage:
[code]

[2022-05-19 21:13] boswelja commented on #86
It seems to come and go, I'm wondering if it's an issue on Google's end. Does it happen consistently for anyone?

[2022-05-21 21:46] adamdanielczyk commented on #98
The error is related to the google service account that's used for the upload (`SERVICE_ACCOUNT_JSON`) - please make sure that it has necessary permissions. See this answer, perhaps it may help: https://github.com/fastlane/fastlane/issues/16164#issuecomment-718319352

[2022-05-25 12:02] jopmiddelkamp opened #103 "Extract packageName from apk/aab"
Why is the `packageName` required? This should be extracted from the apk/aab file.

[2022-05-27 03:43] ph1ash commented on #86
No longer running into that issue and didn't change anything...  🤔

[2022-05-27 08:16] bloodring commented on #11
I have the same issue as well! Have you guys already found a solution?

[2022-05-31 10:58] campovski opened #104 "Rollout is not executed"
**Describe the bug**
The build gets updated and a new release is created, although not rolled out. I need to manually go to Play Console Internal track and rollout the test release. Because the app is in draft, the only `status` I can use is `draft`.

**Workflow Step Configuration**

[code]

**Step Debugging**

- [ ] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@late

[2022-06-06 09:49] tibbe opened #105 "versionCode doesn't get bumped automatically"
This is a feature request.

The biggest hurdle to automating uploads to Play Store using this action is that you manually need to bump `versionCode` every time. This is easy to forget to do in every commit. Could that be automated? Is it possible to fetch the current `versionCode` from the Play Store API?

[2022-06-15 00:03] #80 closed

[2022-06-15 01:19] boswelja commented on #105
Bumping the version code automatically would be impossible since we require an aab (or apk) that has already been built, but version code needs to be set at compile time.

If you're interested, I've been using this action to generate a version, which gets passed to Gradle, upload-google-play and a GH releases action
https://github.com/codacy/git-version

[2022-06-15 01:19] #105 closed

[2022-06-15 01:27] boswelja commented on #90
Based on #100, is this functioning in `1.0.15` but broken in `1.0.16`?

[2022-06-15 01:28] boswelja commented on #100
Duplicate of #90, closing

[2022-06-15 01:28] #100 closed

[2022-06-15 01:29] boswelja commented on #97
As far as I'm aware, higher tracks supersede lower tracks. For your example, I'd expect publishing to `beta` would also update users running older builds on `internal`. An I missing something?

[2022-06-15 01:31] boswelja commented on #96
Are you still seeing this issue?

[2022-06-15 01:39] boswelja commented on #104
Closing as it's a duplicate of #70

[2022-06-15 01:39] #104 closed

[2022-06-15 01:45] boswelja commented on #97
Duplicate of #74, closing

[2022-06-15 01:55] boswelja commented on #38
Are you still seeing this issue?

[2022-06-15 01:57] boswelja commented on #38
Actually, looks like #77 is a duplicate of this and is not limited to Arabic. Closing this to track the isue with more info

[2022-06-15 01:57] #38 closed

[2022-06-15 02:01] boswelja commented on #98
this is a duplicate of #55 too, closing this

[2022-06-15 02:01] #98 closed

[2022-06-15 02:05] boswelja commented on #85
This is fixed by #87, and will be available in the next release

[2022-06-15 02:05] #85 closed

[2022-06-15 02:06] boswelja commented on #76
I'm under the impression keeping old AAB/APK is the default behaviour, but I can totally see this being something we can control

[2022-06-15 02:07] boswelja commented on #86
Closing this as it seems to be Google API-related

[2022-06-15 02:07] #86 closed

[2022-06-15 02:10] boswelja commented on #75
This doesn't seem ambiguous at all, you're using `releaseFile`, which is deprecated. Simply use `releaseFiles` instead

[2022-06-15 02:10] #75 closed

[2022-06-15 02:11] boswelja commented on #77
Definitely seems like a bug, I'll look into it

[2022-06-15 02:14] boswelja commented on #79
This SO answer explains how to use job outputs https://stackoverflow.com/questions/59175332/using-output-from-a-previous-job-in-a-new-one-in-a-github-action#:~:text=Job%20outputs%20are%20strings%2C%20and,can%20use%20the%20needs%20context.
I'll look into adding a sample to the README

[2022-06-15 02:14] #79 closed

[2022-06-15 02:16] boswelja commented on #95
Your URL contains `redacted`, I can only assume your package name matches one of your repo secrets and thus it is masked in output automatically.

[2022-06-15 02:16] #95 closed

[2022-06-15 02:17] boswelja commented on #55
This seems like a configuration issue in the Play Console, closing.

[2022-06-15 02:17] #55 closed

[2022-06-15 03:19] boswelja commented on #62
We should probably look into communicating an API error occurred when things like this happen

[2022-06-15 03:21] boswelja commented on #91
Nice, I'll look into updating the README with this info

[2022-06-15 05:28] amitav13 commented on #74
Oh, I had always assumed the tracks were independent. I'll give it a shot on my next release.

[2022-06-15 05:41] boswelja commented on #77
Oh I just noticed your PR was merged 😆
Closing

[2022-06-15 05:41] #77 closed

[2022-06-16 00:04] boswelja commented on #77
I'm aware. I plan on doing another release soon

[2022-06-16 21:41] Saad-Mufti commented on #90
It doesn't look like anyone else made this mistake, but it may be worth making sure you are both generating an aab release file (running `./gradlew bundleRelease` and checking in `app/build/outputs/bundle/release`.

I was looking in `app/build/outputs/bundle/release` but had generated an apk with `./gradlew assembleRelease`.

[2022-06-18 06:25] boswelja commented on #61
It doesn't look like this was ever merged, I'll open up a PR

[2022-06-18 06:26] boswelja commented on #96
Closing due to inactivity

[2022-06-18 06:26] #96 closed

[2022-06-18 06:32] #61 closed

[2022-06-18 06:52] #91 closed

[2022-06-18 07:13] boswelja commented on #70
An update on this, you should be able to set the `status` input to `draft` to solve this

[2022-06-18 07:15] boswelja commented on #90
If you're running into this, please check the above comment. I can't see any issues that would've appeared with 1.0.16 related to this, closing.

[2022-06-18 07:15] #90 closed

[2022-06-18 07:18] boswelja commented on #72
As per Google's API documentation, this must be between 0 and 1, exclusive-exclusive.
https://developers.google.com/android-publisher/api-ref/rest/v3/edits.tracks#Track

At the same time, I'm interested in making this process more intuitive. userFraction can only be used when status is `inProgress` (or `halted` but we don't support updating existing tracks yet). Perhaps we can remove `status` in f

[2022-06-18 07:42] boswelja commented on #24
I think things like changing status from `inProgress` to `completed` or `halted` could be separate actions, since this action is targeted at uploading APK/AAB to Google Play. It shouldn't be too difficult to allow passing in an Edit ID for uploading new builds to an existing edit, and we can totally expose the edit ID as an output field. Any thoughts @chrismclarke ?

[2022-06-18 07:43] boswelja commented on #24
fwiw I do already have an action to promote open testing to production here: https://github.com/boswelja/promote-play-beta-action
It doesn't have much flexibility right now, but if it's something people are interested in I can make some changes to accommodate more configurations :)

[2022-06-18 07:48] boswelja opened #118 "Allow uploading mappings.txt for multiple AAB/APK"
We currently allow uploading a `mapping.txt` for releases, but this is only a single file with no way of associating it with a particular release file.
This also ties in with #93 as both need a way of associating a file with a release

[2022-06-18 07:49] boswelja commented on #118
Wondering if we should omit the path options for deobfuscation files and try to look them up ourselves, based on the path of the source bundle/apk

[2022-06-18 07:50] #84 closed

[2022-06-18 14:10] AldrinMathew opened #119 "Error: The caller does not have permission"
### **Describe the bug**
I receive `Error: The caller does not have permission`

### **Workflow Step Configuration**

[code]

### **Step Debugging**

- [x] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)
[code]

[2022-06-20 00:03] chrismclarke commented on #24
I think splitting the functionality for uploading new release to a track vs promoting from one track to another makes a lot of sense to me, I think the action you've created sounds near ideal (guessing would just need to expose options for source and target tracks instead of hardcoded beta/production).

For now I've found ways around this on the projects I needed it for, but good to know that's an

[2022-06-20 04:03] boswelja commented on #119
This is probably an issue with your Play Console config. See #55 for more info

[2022-06-20 08:20] boswelja commented on #24
Perfect, I'll look into passing an existing edit ID in to this action + exposing tracks for promotion in my other action. Thanks for your input!

[2022-06-20 09:02] boswelja commented on #24
As of #120 we can pass in an edit ID to avoid creating a new edit every time. Still a few things needed before we can truly edit existing edits, namely

- Outputting the edit ID
- Add an option to prevent publishing edits

[2022-06-20 09:19] boswelja commented on #103
I like it! Have you got any sources for reading the package name of APK/AABs?

[2022-06-21 07:25] boswelja commented on #74
@amitav13 Were you able to confirm this behavior?

[2022-06-22 08:13] youknow-yoonho opened #123 "Unexpected input(s) 'changesNotSentForReview', valid inputs are ['serviceAccountJson', 'serviceAccountJsonPlainText', 'packageName', 'releaseFile', 'releaseFiles', 'releaseName', 'track', 'inAppUpdatePriority', 'userFraction', 'status', 'whatsNewDirectory', 'mappingFile']"
**Describe the bug**

`changesNotSentForReview` is not working...

**Workflow Step Configuration**

[code]

**Step Debugging**

- [ ] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

[code]

[2022-06-23 08:17] miduch opened #124 "Upload "Instant app only" to some track"
Is it possible to use this action to create a draft release + uplaod aab to Instant App only?
When you have Instant app support enabled, using this action always creates a new draft/release for Standard release type only.

Instant apps can be enabled from Advanced settings > Add release type > Google Play Instant

After doing that in Tracks popup appears where you can select Standard, Instant App

[2022-06-23 08:24] miduch opened #125 "Print allTracks to console/logs"
It would be helpful to get allTracks names printed to logs for finding issues/ typo e.t.c.

https://github.com/r0adkll/upload-google-play/blob/623184c55db44a7ff8f00e58154b558fdcf7af23/src/edits.ts#L141

[2022-06-30 04:20] bhargavms opened #126 "How to set up uploading screenshots?"
Is it possible to upload screenshots in a similar way that we upload whatsnew from whatsnewdirectory ?

[2022-06-30 23:15] valeriyo opened #127 "Error: Invalid value at 'track_config.releases[0].status'"
Why?
[code]

[code]

[2022-06-30 23:46] valeriyo commented on #127
For the record, adding this line fixed it:
[code]
Hopefully this helps someone.

[2022-07-01 17:10] KingSkyros opened #128 "joing"
**Describe the bug**
A clear and concise description of what the bug is.

**Workflow Step Configuration**

[code]

**Step Debugging**

- [ ] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

[2022-07-01 23:39] ThomasAunvik commented on #123
'changesNotSentForReview' is only documented on current master branch, and isn't in the latest v1 release. use @master. Or wait till next release?

[2022-07-02 00:01] ThomasAunvik commented on #93
Does this also apply for App Bundles? It only seems that uploading the App Bundle directly in the Play Console works, but not trough this action.

[2022-07-04 16:40] NagaChiang opened #129 "Error: error:25066067:DSO support routines:dlfcn_load:could not load the shared library"
## Description

I encountered the error as title:

[code]

### Failed Attempts

- GitHub Action Ubuntu versions
  - 20.04
  - 22.04
  - 24.04
- Workaround: `export OPENSSL_CONF=/dev/null`

### Reference

- https://github.com/bazelbuild/rules_closure/issues/351

## Workflow Step Configuration

[code]

## Step Debugging

- [x] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-t

[2022-07-05 11:25] skeeping commented on #127
thanks @valeriyo it helped me

[2022-07-08 01:04] Hacybeyker opened #131 "Error assigning some value with $"
**Describe the bug**
Hello.
I have a problem because I have assigned a secret in an ENV and when I try to access it through `$` as in this case `$PACKAGE` for some reason does not get the value but if I access the secret directly in this way `${{ secret.PACKAGE }}` it works well.
It could support this since secrets are sometimes assigned as global ENVs to be accessed directly with the `$`

**Workf

[2022-07-14 17:53] Eng-AhmedShehata commented on #90
I have the same problem.
I tried all solutions but with no benefit. 🙁

[2022-07-26 21:47] Del-S commented on #127
Seems like this is a duplicate of https://github.com/r0adkll/upload-google-play/issues/85 which should be fixed by https://github.com/r0adkll/upload-google-play/pull/87/files. I check the source and the change is in the latest version. But using `uses: r0adkll/upload-google-play@v1` still produces this issue.

Adding `status: completed` helps. Thanks @valeriyo.

[2022-07-27 12:45] romatallinn opened #132 "changesNotSentForReview"
**Describe the bug**
The flow started failing with:
[code]

But when I do as it says, I am also getting a warning:
[code]

<img width="962" alt="Screenshot 2022-07-27 at 14 39 47" src="https://user-images.githubusercontent.com/14923964/181249607-a10a17cb-ef51-458a-98c0-da36795e156c.png">

**Workflow Step Configuration**

[code]

[2022-07-28 13:57] Skullcan commented on #100
If anyone is struggling to setup and getting this error in a React Native project here's my workflow file.

https://gist.github.com/Skullcan/82e7913de667d6fe396fc17303d6ebcf

The trick that did for me was the releaseFiles: ./android/app/build/outputs/bundle/release/app-release.aab.

[2022-08-14 20:52] RachiketArya opened #134 "Unable to upload artefact to Google Play because of "No file found in request" error"
**Describe the bug**
While trying to upload bundle to Android Playstore, I am seeing the following ``No file found in request`` error. Tried referring to [#90](https://github.com/r0adkll/upload-google-play/issues/90) and [#100](https://github.com/r0adkll/upload-google-play/issues/100) but they didn't turn out to be useful.

**Workflow Step Configuration**

[code]

**Step Debugging**

- [x] I have

[2022-08-22 15:05] marin-marsic commented on #86
This just happened to me again so maybe it would be worth looking into it. Would it be possible to implement some more appropriate timeout duration (eg. 5 minutes)?

[2022-08-22 22:14] boswelja commented on #86
I like the idea of a timeout, can you open a separate issue for it?

[2022-08-24 14:41] marin-marsic opened #136 "Add execution timeout"
In some rare occasions, upload takes too long (360 minutes) to complete so the action gets canceled on GitHub. As discussed in issue #86 it would be great to implement an execution timeout so that the action can be canceled sooner and not spend valuable execution time doing nothing.

[2022-09-11 07:43] boswelja commented on #126
Not currently, I'd argue that would be the responsibility of a separate action, since screenshots are tied to store listing rather than releases.

I just had a quick look at the API docs and it doesn't look like editing the listing is currently supported either (docs here: https://developers.google.com/android-publisher/api-ref/rest/v3/edits)

[2022-09-11 07:50] boswelja commented on #123
Unfortunately that is the correct answer. I was planning on doing a release a while ago but got sidetracked 😅

[2022-09-11 07:55] boswelja commented on #123
This should now be available, as of v1.0.18

[2022-09-11 07:55] #123 closed

[2022-09-11 07:55] boswelja commented on #119
Assuming this is resolved

[2022-09-11 07:55] #119 closed

[2022-09-11 07:57] boswelja commented on #134
I don't see anywhere in our code where we log this, so it looks like it's an issue on Google's end. Is it still an isue?

[2022-09-11 07:58] boswelja commented on #132
The issue was caused by `changesNotSentForReview` not being available in the latest release. It is now available in `v1.0.18`

[2022-09-11 07:58] #132 closed

[2022-09-11 07:59] boswelja commented on #131
Do you have an example of an action supporting `$PACKAGE` syntax? We don't generally handle things like this in the action side of things, it is GH Actions that maps `${{ secret.PACKAGE }}` to your secret and passes it to the action

[2022-09-11 08:02] boswelja commented on #129
This seems like an issue with some of the runner OSes. Is there a fix we can implement on the actions side?

[2022-09-11 08:03] boswelja commented on #128
Not sure what the issue is here, closing to keep backlog clear

[2022-09-11 08:03] #128 closed

[2022-09-11 08:04] boswelja commented on #127
Yep, please make sure you're pointed to the latest release (NOT v1). There are some pipeline issues that break updating the v1 tag

[2022-09-11 08:04] #127 closed

[2022-09-11 08:06] boswelja commented on #124
We don't currently have support for Instant Apps. How different is the upload process? If it's reasonably similar we can add it as a feature to this action. If not, a separate action might be a better idea

[2022-09-11 12:21] #93 closed

[2022-09-11 15:36] NagaChiang commented on #129
From what I Googled, I agree with you that it's something related to the runner OS. But sorry I'm not familiar with the tech stack it uses, also I don't know what problem it actually happens.

I tried `ubuntu-latest` this week, but still no luck.

Thank you!

[2022-09-12 06:56] tobiasschuerg opened #139 "Error: DRAFT release must not have fraction"
**Describe the bug**
Seems like userFraction is automatically set to `1` if not set manually.

If the configuration below is used to create a release draft, there is an error message saying that userFraction must not bet set.

**Workflow Step Configuration**

yml

[code]

Not that ´userFraction´ is not set

this is what is logged

![image](https://user-images.githubusercontent.com/1324555/18959120

[2022-09-12 07:00] tobiasschuerg commented on #139
https://developers.google.com/android-publisher/api-ref/rest/v3/edits.tracks#release

[2022-09-12 07:50] boswelja commented on #139
Thanks for reporting this! I will update the logic for this ASAP

[2022-09-12 08:38] boswelja commented on #139
Fixed by #140
Until a release is created, I recommend rolling back a version

[2022-09-12 08:38] #139 closed

[2022-09-13 17:52] Sam2much96 opened #141 "Error: APK has the wrong package name."
**Describe the bug**
A clear and concise description of what the bug is.
I have verified with adb that the package name is valid but i keep on getting these errors
Run r0adkll/upload-google-play@v1
Creating a new Edit for this release
Validating track 'beta'
Uploading ./source_code.apk
Error: Error: APK has the wrong package name.
Error: APK has the wrong package name.

**Workflow Step Configurati

[2022-09-13 22:51] boswelja commented on #141
We don't have code that validates this, so the error is most likely coming from Google Play Console. How are you checking your app package name?

[2022-09-14 00:37] Sam2much96 commented on #141
I have an installed copy on my local android device so

$adb shell pm list packages

lists all my installed packages, Then i search for my particular package in that list and verify the name

[2022-09-14 03:04] Sam2much96 commented on #141
It was an Error with my Project's export presets. Closing issue now. Thank you for your prompt response !

[2022-09-14 03:04] #141 closed

[2022-09-14 20:06] patrickbussmann commented on #85
@boswelja I had this issue now again.
Tried with `@master` and with `@v1.0.15`.
And the merge #127 is already merged.

So I think there is another issue?

[2022-09-19 00:58] nvacheishvili commented on #11
I also have this issue and what's up with this

[2022-09-19 01:23] boswelja commented on #11
This is the solution. Any delays or further permission issues are on Google's side, but it's more than likely a misconfiguration on your end.

We are unable to "fix" this at the action level because there is nothing to fix.

[2022-09-20 20:54] parisbs opened #143 "Error with userFraction"
Fails with userFraction: '1.0' with the error:

My workflow:
[code]

I launch this reusable workflow from a dispatcher one:
[code]

Checking my logs the userFraction that the reusable workflow receive is correct `'1.0'`

[2022-09-21 04:19] boswelja commented on #143
Hey there! Sorry for the misleading error, having a userFraction of 0 and 1 is not supported by the API, so the value should be exclusive-exclusive.
I have a change in review that rectifies this + adds tests to prevent future regressions

[2022-09-21 07:09] AntonLT opened #144 "Bundle is uploaded but not distributed"
**Describe the bug**
App bundle is build and uploaded to draft internal testing we already had, but it still requires every release to be confirmed manually to distribute. Am I doing something wrong?

**Workflow Step Configuration**

name: Android

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actio

[2022-09-21 08:35] boswelja commented on #143
Please target `@master` for the action version and let me know if this is still an issue

[2022-09-21 20:35] parisbs commented on #143
[code]

Returns:

In my inputs I receive '1.0'

[2022-09-21 21:23] parisbs commented on #143
Sorry, I forgot to update some stuffs in my YAML, everything works well but I encounter another error when I use `status: completed` and unset `userFraction`:

[2022-09-22 11:48] boswelja commented on #143
Thanks for giving it a try! I think I see what the issue is, I plan on resolving it this weekend. I'll report back when I've made some progress

[2022-09-24 04:51] boswelja commented on #143
I have pushed what should be a fix for this to master, please let me know if it works for you.
Your help is much appreciated :)

[2022-09-24 05:48] parisbs commented on #143
Return the following error although userFraction is not present:

[2022-09-24 06:04] boswelja commented on #143
Hmmm at least we are making it further, seems like there is an issue with the actual publishing code, rather than input validation now. I'll look into it now

[2022-09-25 07:42] rich-j opened #146 "Authenticate with Google Workload Identity Federation / OpenID Connect"
Please support authenticating with the Google recommended [Workload Identity Federation](https://cloud.google.com/iam/docs/workload-identity-federation) instead of using a Cloud Service Account Key JSON secret text/file. Github supports it as [OpenID Connect](https://docs.github.com/en/actions/deployment/security-hardening-your-deployments/configuring-openid-connect-in-google-cloud-platform)

Goog

[2022-09-26 02:38] boswelja commented on #143
Alright I have pushed some new changes to master. If this doesn't fix it, I'm probably just going t oleave it until I go over the input handling code and write some tests so we can automate this and catch any future regressions

[2022-09-26 04:37] parisbs commented on #143
NaM error again

[2022-09-26 15:54] NagaChiang commented on #129
Oh sorry to confuse you, I meant I tried that but not work either.

[2022-09-26 17:43] StuClift commented on #146
This is already supported as the auth writes the credentials file by default:
[code]

[2022-10-03 07:29] aurotones commented on #143
This is what i got
[code]

[2022-10-03 20:55] boswelja commented on #143
Seems like it's working fine for you, a user fraction of 1 is not valid. Set your status to completed and remove the userFraction

[2022-10-05 09:29] aurotones commented on #143
Now i got
[code]

[2022-10-07 04:05] arifinreinaldo opened #147 "EISDIR: illegal operation on a directory, read"
**Describe the bug**
Unfortunately, I can't find a way to debug what is missing. Can you show me how to check the error

**Workflow Step Configuration**

[code]

**Step Debugging**

- [x ] I have enabled [Step Debug Logging](https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/enabling-debug-logging#enabling-step-debug-logging)

##[debug]Evaluating condition for step: 'De

[2022-10-09 12:43] FunkyMuse commented on #103
[APK ](https://stackoverflow.com/a/37324607)

[AAB](https://stackoverflow.com/a/60158478)

[2022-10-17 10:28] tk-nguyen commented on #132
I still encounter this error after the latest update. The issue is the same as above.

[2022-10-17 10:39] boswelja commented on #147
Your pipeline does not have permission to read some files, possible files in your `whatsnew` directory. Try updating the file permissions and pushing the changes.
If you're on Windows, `git update-index` can help: https://git-scm.com/docs/git-update-index

[2022-10-17 10:40] boswelja commented on #146
I wonder if we can auto-detect when this is used? If not, there's probably no changes needed

[2022-10-17 10:57] bryanlee-hdj commented on #143
The function `validateUserFraction` is checking like below.

`userFraction >= 1 || userFraction <= 0`

I thinks it should be
`userFraction > 1 || userFraction < 0`

What about this?

[2022-10-18 06:08] rich-j commented on #146
To detect if Google `auth` is set up, check for and use the env var `process.env.GOOGLE_GHA_CREDS_PATH`.

More detail on the above check - [auth](https://github.com/google-github-actions/auth) documentation states that by default several environment variables are exported by default including `GOOGLE_GHA_CREDS_PATH`. Looking at Google's implementation of  [setup-gcloud](https://github.com/google-g

[2022-10-18 10:19] tk-nguyen opened #148 "Release `v1` does not fetch the latest version"
Hello, I ran into the same issue as https://github.com/r0adkll/upload-google-play/issues/132, even after the update.

[code]

Maybe I need to pin it to the exact version?

[2022-10-19 15:05] sam-higgs commented on #148
Worked for me using `r0adkll/upload-google-play@v1.0.18` but now I run into:
`Error: Changes are sent for review automatically. The query parameter changesNotSentForReview must not be set.
`

[2022-10-20 13:42] CptFabulouso commented on #148
I think you can check which version github uses in `Set up job`, I see we have there `Download action repository 'r0adkll/upload-google-play@v1' (SHA:8c2ebfdb6e1b439d3a31d35772b3f0f489d688c9)` which refers to the 1.0.16 version.

Shouldn't setting `r0adkll/upload-google-play@v1` use the latest release? Is the 1.0.18 version not released, or is it some cache issue? If the latter, how to reset the c

[2022-10-21 07:01] boswelja commented on #148
Good catch! Neither are the case. Since `v1` is a separate tag, it needs to be updated independently of any new releases.
Looks like we have some pipeline issues

[2022-10-21 15:07] marianhlavac opened #149 "Support expanding environment variables in inputs"
Using the `serviceAccountJson` with environment variable or tilde in the path is not possible.

**Example Configuration**

[code]

**Results in**

[code]

**Expected**

Tild and variables should've been expanded and file should be located normally.

[2022-10-22 02:38] boswelja commented on #149
This is an interesting one. Typically GH Actions handles this for us, but I guess since it is part of a fully-formed string, it does not.
I'm retagging this as a feature request :)

[2022-10-22 09:45] boswelja commented on #131
Closing this in favor of #149, I prefer the example over there :)

[2022-10-22 09:45] #131 closed

[2022-10-22 09:46] #70 closed

[2022-10-22 09:46] boswelja commented on #72
Closing this, I ended up trying what I mentioned earlier only to break things more 😅

[2022-10-22 09:46] #72 closed

[2022-10-22 09:47] boswelja commented on #74
Closing due to inactivity

[2022-10-22 09:47] #74 closed

[2022-10-22 09:49] boswelja commented on #76
Linking Edits tracks documentation for anyone interested in working on this:
https://developers.google.com/android-publisher/api-ref/rest/v3/edits.tracks

[2022-10-22 09:52] boswelja commented on #103
I'd like to avoid bundling extra binaries ourselves if possible. Do you have any solutions that can be deployed via npm packages (or better yet, no extra dependencies)?

[2022-10-22 09:58] boswelja commented on #124
After checking out the Edits API, I am unable to find instant app information. This implies either there is no API, or the API does not exist as part of the Edits API. In either case, that means it's probably not a good idea to support it here unfortunately.

If anything changes, please reopen this or create a new issue

[2022-10-22 09:58] #124 closed

[2022-10-22 10:03] boswelja commented on #129
Seems like this was patched in node.js, hopefully Actions runners were updated and we will no longer see it here :)
https://bugs.launchpad.net/ubuntu/+source/openssl/+bug/1979639

[2022-10-22 10:03] #129 closed

[2022-10-22 10:04] boswelja commented on #134
Closing due to lack of information

[2022-10-22 10:04] #134 closed

[2022-10-22 10:05] boswelja commented on #136
I just had a peek at the Edits API, and it looks like it gives us a timeframe the edit is valid for. I will investigate using that at a later date (hopefully it's not 24 hours lol)

[2022-10-22 10:06] boswelja commented on #144
Isn't the idea of `draft` to only create a draft that still needs to be confirmed? Try doing a complete rollout to your internal track

[2022-10-22 10:08] boswelja commented on #147
Assuming you got this resolved, closing

[2022-10-22 10:08] #147 closed

[2022-10-24 01:18] #143 closed

[2022-10-24 08:06] #125 closed

[2022-10-26 12:42] mhernand40 opened #153 "Invalid status provided! Must be one of 'completed', 'inProgress', 'halted', 'draft'. Got"
**Describe the bug**
Just updated from 1.0.18 to 1.0.19 where the only thing that has changed in my configuration was the `v1.0.18` -> `v1.0.19`. However, I am seeing the following error when the workflow is run:
[code]

I've never had to specify the status property in the YML and per the README, it seems that has a default value that gets resolved if it is not specified.

**Workflow Step Configur

[2022-10-26 13:18] mhernand40 commented on #153
During the workflow run, I saw the following:
[code]

[2022-10-27 02:04] boswelja commented on #153
Thanks for opening this! If you specify a release status, does this still happen?

The default parameter being missing seems like a regression, I can investigate and set up a test to prevent further issues

[2022-11-02 09:16] msfjarvis commented on #153
It works fine if you explicitly specify a status

[2022-11-03 06:11] #153 closed

[2022-11-03 06:11] boswelja commented on #153
This should be fixed in master, and will be available in a tagged release soon :)

[2022-11-03 06:22] #148 closed

[2022-11-08 11:57] lsalehar opened #156 "Support for node v16"
**Describe the bug**
When the action is run the following warning is displayed in workflow summary:
`Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: r0adkll/upload-google-play`

**Workflow Step Configuration**

[cod

[2022-11-08 13:10] boswelja commented on #156
Please use the latest version, 1.0.19
I'm aware the v1 tag is broken, it will be fixed next release (as long as the workflow changes are fine)

[2022-11-08 13:10] boswelja commented on #156
Linking #148 for clarity

[2022-11-08 13:11] #156 closed

[2022-11-14 14:58] StylianosGakis commented on #153
Just got bit by this too.
Is there some way to use the tagged release that you mention here? Either I'm missing something or it's not available yet right?

[2022-11-14 15:18] msfjarvis commented on #153
There is no tagged release yet with the fix.

[2022-11-17 20:23] pdeveltere commented on #129
This seems to be a problem for us as well. @NagaChiang @bschmalbSP any updates on how you solved this?

[2022-11-17 20:33] pdeveltere commented on #129
@r0adkll I think you could fix this for us by adding `export OPENSSL_CONF=/dev/null` to your code. What would also solve it is setting the node version of this github action to node18

[2022-11-17 20:40] boswelja commented on #129
Please make sure you are using the latest Action version (NOT v1), as the latest version should be running ok the latest Node version.

[2022-11-18 07:35] pdeveltere commented on #129
@boswelja thanks for the quick response. We set it to v1.0.19 and the issue still persisted. When specifying v1, the latest v1 version is automatically downloaded (v1.0.19), so that is not the issue.

[2022-11-18 10:29] pdeveltere commented on #129
@boswelja ok, what do you mean the next release? the next release of this github action?

I looking into that as well. I forked this action and was thinking of setting the nodejs version to 18. but it's not possible. Apparently only v16 is supported. It's a bit confusing since in their package.json the `@types/node` are set to `18`: https://github.com/actions/typescript-action/blob/main/package.js

[2022-11-18 22:51] boswelja commented on #129
Yep, the next release of the action. I'm hesitant to add code to the action to work around bugs that are supposedly fixed (plus it seems like it's fixed for the others too - based on their lack of response).

According to [this discussion on Node JS](https://github.com/nodejs/node/discussions/43184), it should be fixed in 16.16.x. It's probable that the 22.04 runners have updated to this version,

[2022-11-19 18:28] svendroid commented on #129
Sorry for posting on the closed thread, but I am experiencing the same issue.

I have following config:

[code]

The container image also uses Ubuntu 22.04 LTS.
I also tried running `export OPENSSL_CONF=/dev/null` but this did not fix it for me. I just executed it in a step like this:
[code]
How did you apply the `export OPENSSL_CONF=/dev/null` workarround to fix it?

see https://github.com/Munich

[2022-11-21 15:07] KubaPreg opened #158 "Migrate from Node 12 to Node 16"
Hey,

I get a warning in github actions running your action.

Any chances of releasing new version?

[2022-11-21 21:03] boswelja commented on #158
A new version is already out, but the v1 tag is not up to date. Please switch to v1.0.19, which is running node16

[2022-11-21 21:03] #158 closed

[2022-11-21 21:12] KubaPreg commented on #158
thank you!

[2022-11-22 21:02] johnf opened #159 "v1 tag doesn't point to latest version"
**Describe the bug**

I'm not sure if this is on purpose or not, but the v1 tag is pointing to a release from Sep 2021.
I noticed this wasn't updating, as I'm still getting node12 deprecation warnings even though this has been fixed.

**Workflow Step Configuration**
[code]

[2022-11-22 21:48] boswelja commented on #159
Thanks for reporting! This should be fixed with the next release as per #148

[2022-11-22 21:49] #159 closed

[2022-11-24 03:07] cosnomi commented on #129
I've got the workaround actually work by setting env within the step.

[code]

[2022-11-27 07:10] hemant1996 opened #160 "Changes cannot be sent for review automatically. Please set the query parameter changesNotSentForReview to true. Once committed, the changes in this edit can be sent for review from the Google Play Console UI."
**Describe the bug**
Changes cannot be sent for review automatically. Please set the query parameter changesNotSentForReview to true. Once committed, the changes in this edit can be sent for review from the Google Play Console UI.

**Workflow Step Configuration**

[code]

[2022-11-27 09:41] boswelja commented on #160
I suspect this error is coming from Google Play. If that's the case, there's nothing we can do. You need to do a release with `changesNotSentForReview` set to true (usually the first time you try to publish an app, subsequent uploads don't require this)